USE [master]
GO
/****** Object:  Database [MySite]    Script Date: 2017/8/15 18:35:03 ******/
CREATE DATABASE [MySite]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MySite_Data', FILENAME = N'E:\yang.liao\DB\MySite.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MySite_log', FILENAME = N'E:\yang.liao\DB\MySite_log.ldf' , SIZE = 5120KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MySite].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MySite]
GO
/****** Object:  UserDefinedFunction [dbo].[f_GetCSharpDataTypeBySqlUserType]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[f_GetCSharpDataTypeBySqlUserType] (@userType VARCHAR(5),@maxLength INT)  
RETURNS varchar(50) AS
BEGIN
	DECLARE @columnType NVARCHAR(30)
	IF(@userType IN ('175','231','239'))
	BEGIN
		SET @columnType='nvarchar('+CAST(@maxLength/2 AS VARCHAR(5))+')'
	END
	ELSE IF(@userType IN ('56'))
	BEGIN
		SET @columnType='int'
	END
	ELSE IF(@userType IN ('61'))
	BEGIN
		SET @columnType='DateTime'
	END
	ELSE IF(@userType IN ('106'))
	BEGIN
		SET @columnType='money'
	END
	ELSE IF(@userType IN ('167'))
	BEGIN
		SET @columnType='varchar('+CAST(@maxLength AS VARCHAR(5))+')'
	END
	ELSE IF(@userType IN('104'))
	BEGIN
		SET @columnType='bit'
	END
return @columnType
END


GO
/****** Object:  Table [dbo].[ModulePermission]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ModulePermission](
	[p_id] [int] IDENTITY(1,1) NOT NULL,
	[p_gid] [varchar](8) NOT NULL,
	[p_m_gid] [varchar](8) NOT NULL,
	[p_name] [nvarchar](50) NOT NULL,
	[p_path] [varchar](50) NOT NULL,
	[p_createTime] [datetime] NOT NULL,
	[p_createUser] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ModulePermission] PRIMARY KEY CLUSTERED 
(
	[p_gid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[r_id] [int] IDENTITY(1,1) NOT NULL,
	[r_gid] [varchar](8) NOT NULL,
	[r_name] [nvarchar](50) NOT NULL,
	[r_createTime] [datetime] NOT NULL,
	[r_createUser] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Role_ModualPermission_Mapping]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role_ModualPermission_Mapping](
	[r_p_id] [int] IDENTITY(1,1) NOT NULL,
	[r_p_gid] [varchar](8) NULL,
	[r_gid] [varchar](8) NULL,
	[p_gid] [varchar](8) NULL,
	[r_p_CreateTime] [datetime] NULL,
	[r_p_CreateUser] [nvarchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Site_Cates]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Site_Cates](
	[c_id] [int] IDENTITY(1,1) NOT NULL,
	[c_gid] [varchar](8) NOT NULL,
	[c_path] [varchar](20) NOT NULL,
	[c_isMainCate] [bit] NOT NULL,
	[c_tableId] [int] NOT NULL,
	[c_name] [nvarchar](50) NOT NULL,
	[c_type] [nvarchar](50) NOT NULL,
	[c_createUser] [nvarchar](50) NOT NULL,
	[c_createTime] [datetime] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Site_CMSBlock]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Site_CMSBlock](
	[b_id] [int] IDENTITY(1,1) NOT NULL,
	[b_gid] [varchar](8) NOT NULL,
	[b_p_gid] [varchar](8) NOT NULL,
	[b_path] [varchar](20) NOT NULL,
	[b_name] [nvarchar](50) NOT NULL,
	[b_createUser] [nvarchar](50) NOT NULL,
	[b_createTime] [datetime] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Site_CMSItem]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Site_CMSItem](
	[i_id] [int] IDENTITY(1,1) NOT NULL,
	[i_gid] [varchar](8) NOT NULL,
	[i_b_gid] [varchar](8) NOT NULL,
	[i_p_gid] [varchar](8) NOT NULL,
	[i_title] [nvarchar](50) NOT NULL,
	[i_c_gid] [varchar](8) NOT NULL,
	[i_c_type] [nvarchar](50) NOT NULL,
	[i_subTitle] [nvarchar](20) NOT NULL,
	[i_intro] [nvarchar](500) NOT NULL,
	[i_status] [int] NOT NULL,
	[i_createUser] [nvarchar](30) NOT NULL,
	[i_createTime] [datetime] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Site_CMSPage]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Site_CMSPage](
	[p_id] [int] IDENTITY(1,1) NOT NULL,
	[p_gid] [varchar](8) NOT NULL,
	[p_name] [nvarchar](50) NOT NULL,
	[p_path] [nvarchar](100) NOT NULL,
	[p_tempPath] [nvarchar](100) NOT NULL,
	[p_filePath] [nvarchar](100) NOT NULL,
	[p_createTime] [datetime] NOT NULL,
	[p_createUser] [nvarchar](30) NOT NULL,
	[p_pageDuty] [nvarchar](100) NOT NULL,
	[p_siteName] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Site_Content]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Site_Content](
	[c_id] [int] IDENTITY(1,1) NOT NULL,
	[c_gid] [varchar](8) NOT NULL,
	[c_c_gid] [varchar](8) NOT NULL,
	[c_title] [nvarchar](50) NOT NULL,
	[c_sub_title] [nvarchar](20) NOT NULL,
	[c_keywords] [nvarchar](50) NULL,
	[c_intro] [nvarchar](100) NULL,
	[c_content] [nvarchar](max) NULL,
	[c_img_src] [varchar](150) NULL,
	[c_createUserId] [varchar](8) NULL,
	[c_createUserName] [nvarchar](30) NULL,
	[c_createUserNickName] [nvarchar](30) NULL,
	[c_createTime] [datetime] NULL,
	[c_status] [int] NULL,
	[c_state] [bit] NULL,
 CONSTRAINT [PK__Site_Con__213EE77422898912] PRIMARY KEY CLUSTERED 
(
	[c_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SystemGroup]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SystemGroup](
	[g_id] [int] IDENTITY(1,1) NOT NULL,
	[g_gid] [varchar](8) NOT NULL,
	[g_name] [nvarchar](50) NOT NULL,
	[g_picCover] [nvarchar](50) NOT NULL,
	[g_createTime] [datetime] NOT NULL,
	[g_createUser] [nvarchar](50) NOT NULL,
	[g_sort] [int] NOT NULL,
 CONSTRAINT [PK_SystemGroup] PRIMARY KEY CLUSTERED 
(
	[g_gid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SystemModual]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SystemModual](
	[m_id] [int] IDENTITY(1,1) NOT NULL,
	[m_gid] [varchar](8) NOT NULL,
	[m_g_gid] [varchar](8) NOT NULL,
	[m_path] [varchar](50) NOT NULL,
	[m_name] [nvarchar](50) NOT NULL,
	[m_parent] [int] NOT NULL,
	[m_parent_gid] [varchar](8) NOT NULL,
	[m_Controller] [varchar](50) NOT NULL,
	[m_Action] [varchar](50) NOT NULL,
	[m_createTime] [datetime] NOT NULL,
	[m_createUser] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SystemModual] PRIMARY KEY CLUSTERED 
(
	[m_gid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[u_id] [int] IDENTITY(1,1) NOT NULL,
	[u_gid] [varchar](8) NOT NULL,
	[u_username] [nvarchar](50) NOT NULL,
	[u_password] [nvarchar](32) NOT NULL,
	[u_createTime] [datetime] NOT NULL,
	[u_createUser] [nvarchar](50) NOT NULL,
	[u_status] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User_Role_Mapping]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User_Role_Mapping](
	[u_r_id] [int] IDENTITY(1,1) NOT NULL,
	[u_r_gid] [varchar](8) NULL,
	[u_gid] [varchar](8) NULL,
	[r_gid] [varchar](8) NULL,
	[u_r_CreateTime] [datetime] NULL,
	[u_r_CreateUser] [nvarchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ModulePermission] ON 

INSERT [dbo].[ModulePermission] ([p_id], [p_gid], [p_m_gid], [p_name], [p_path], [p_createTime], [p_createUser]) VALUES (10, N'0139855e', N'd3202f41', N'访问', N'System.PermissionAssignList', CAST(N'2014-07-29 15:59:35.000' AS DateTime), N'admin')
INSERT [dbo].[ModulePermission] ([p_id], [p_gid], [p_m_gid], [p_name], [p_path], [p_createTime], [p_createUser]) VALUES (13, N'2285e866', N'78443ef6', N'访问', N'Site.SiteCateList', CAST(N'2015-11-02 16:00:15.000' AS DateTime), N'admin')
INSERT [dbo].[ModulePermission] ([p_id], [p_gid], [p_m_gid], [p_name], [p_path], [p_createTime], [p_createUser]) VALUES (14, N'65021a6c', N'88c02cdc', N'访问', N'Site.SiteCMSPageList', CAST(N'2015-11-02 16:02:05.000' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[ModulePermission] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([r_id], [r_gid], [r_name], [r_createTime], [r_createUser]) VALUES (1, N'12334422', N'超级管理员', CAST(N'2014-04-12 00:00:00.000' AS DateTime), N'admin')
INSERT [dbo].[Role] ([r_id], [r_gid], [r_name], [r_createTime], [r_createUser]) VALUES (2, N'23937f61', N'普通用户', CAST(N'2014-07-29 11:53:19.000' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Role_ModualPermission_Mapping] ON 

INSERT [dbo].[Role_ModualPermission_Mapping] ([r_p_id], [r_p_gid], [r_gid], [p_gid], [r_p_CreateTime], [r_p_CreateUser]) VALUES (1, N'23pa5cx8', N'12334422', N'9vbk35dp', CAST(N'2014-04-12 00:00:00.000' AS DateTime), N'廖杨')
INSERT [dbo].[Role_ModualPermission_Mapping] ([r_p_id], [r_p_gid], [r_gid], [p_gid], [r_p_CreateTime], [r_p_CreateUser]) VALUES (2, N'7vjths43', N'12334422', N'lb723sd0', CAST(N'2014-07-28 00:00:00.000' AS DateTime), N'廖杨')
INSERT [dbo].[Role_ModualPermission_Mapping] ([r_p_id], [r_p_gid], [r_gid], [p_gid], [r_p_CreateTime], [r_p_CreateUser]) VALUES (6, N'b7f4a2c6', N'12334422', N'0139855e', CAST(N'2014-11-29 18:39:37.000' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[Role_ModualPermission_Mapping] OFF
SET IDENTITY_INSERT [dbo].[Site_Cates] ON 

INSERT [dbo].[Site_Cates] ([c_id], [c_gid], [c_path], [c_isMainCate], [c_tableId], [c_name], [c_type], [c_createUser], [c_createTime]) VALUES (1, N'97a2406b', N'11', 1, 0, N'杂文', N'news', N'admin', CAST(N'2015-11-02 16:18:58.000' AS DateTime))
INSERT [dbo].[Site_Cates] ([c_id], [c_gid], [c_path], [c_isMainCate], [c_tableId], [c_name], [c_type], [c_createUser], [c_createTime]) VALUES (3, N'2db7535d', N'1101', 0, 0, N'热点新闻', N'news', N'admin', CAST(N'2015-11-02 16:45:26.000' AS DateTime))
INSERT [dbo].[Site_Cates] ([c_id], [c_gid], [c_path], [c_isMainCate], [c_tableId], [c_name], [c_type], [c_createUser], [c_createTime]) VALUES (4, N'd89eebb3', N'1102', 0, 0, N'奇事异闻', N'news', N'admin', CAST(N'2016-11-20 23:11:37.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Site_Cates] OFF
SET IDENTITY_INSERT [dbo].[Site_CMSBlock] ON 

INSERT [dbo].[Site_CMSBlock] ([b_id], [b_gid], [b_p_gid], [b_path], [b_name], [b_createUser], [b_createTime]) VALUES (1, N'ff98b921', N'e4f7afd1', N'10', N'焦点大图', N'admin', CAST(N'2016-11-09 14:59:11.000' AS DateTime))
INSERT [dbo].[Site_CMSBlock] ([b_id], [b_gid], [b_p_gid], [b_path], [b_name], [b_createUser], [b_createTime]) VALUES (2, N'f08acefa', N'e4f7afd1', N'11', N'导航菜单', N'admin', CAST(N'2016-11-09 15:33:51.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Site_CMSBlock] OFF
SET IDENTITY_INSERT [dbo].[Site_CMSItem] ON 

INSERT [dbo].[Site_CMSItem] ([i_id], [i_gid], [i_b_gid], [i_p_gid], [i_title], [i_c_gid], [i_c_type], [i_subTitle], [i_intro], [i_status], [i_createUser], [i_createTime]) VALUES (1, N'e60392e0', N'ff98b921', N'e4f7afd1', N'英国女王计划95岁退休', N'5663a04c', N'', N'英国女王计划95岁退休', N'英国女王计划95岁退休', 1, N'admin', CAST(N'2017-08-15 13:47:37.000' AS DateTime))
INSERT [dbo].[Site_CMSItem] ([i_id], [i_gid], [i_b_gid], [i_p_gid], [i_title], [i_c_gid], [i_c_type], [i_subTitle], [i_intro], [i_status], [i_createUser], [i_createTime]) VALUES (2, N'd35cbe01', N'ff98b921', N'e4f7afd1', N'贾跃亭把一切给了公司', N'99853f87', N'', N'贾跃亭把一切给了公司', N'乐视：贾跃亭把一切给了公司 所有债务一个人扛', 1, N'admin', CAST(N'2017-08-15 13:48:23.000' AS DateTime))
INSERT [dbo].[Site_CMSItem] ([i_id], [i_gid], [i_b_gid], [i_p_gid], [i_title], [i_c_gid], [i_c_type], [i_subTitle], [i_intro], [i_status], [i_createUser], [i_createTime]) VALUES (3, N'b9ec38eb', N'ff98b921', N'e4f7afd1', N'富豪殴打区委书记真相', N'5247938e', N'', N'富豪殴打区委书记真相', N'区委书记遭富豪殴打5天后已经上班 背后真相是啥', 1, N'admin', CAST(N'2017-08-15 18:05:21.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Site_CMSItem] OFF
SET IDENTITY_INSERT [dbo].[Site_CMSPage] ON 

INSERT [dbo].[Site_CMSPage] ([p_id], [p_gid], [p_name], [p_path], [p_tempPath], [p_filePath], [p_createTime], [p_createUser], [p_pageDuty], [p_siteName]) VALUES (1, N'fbe22aa6', N'BBS站点页面', N'21', N'', N'', CAST(N'2015-11-02 16:55:31.000' AS DateTime), N'admin', N'admin', 2)
INSERT [dbo].[Site_CMSPage] ([p_id], [p_gid], [p_name], [p_path], [p_tempPath], [p_filePath], [p_createTime], [p_createUser], [p_pageDuty], [p_siteName]) VALUES (2, N'1b0ded58', N'首页热点大图', N'2101', N'~/Views/Template/demo_template.cshtml', N'~/Views/Home/Test.cshtml', CAST(N'2015-11-02 16:57:46.000' AS DateTime), N'admin', N'admin', 2)
INSERT [dbo].[Site_CMSPage] ([p_id], [p_gid], [p_name], [p_path], [p_tempPath], [p_filePath], [p_createTime], [p_createUser], [p_pageDuty], [p_siteName]) VALUES (3, N'e4f7afd1', N'首页', N'1101', N'~/Views/Template/Main_Index.cshtml', N'~/Views/Home/Index.cshtml', CAST(N'2015-11-02 17:10:36.000' AS DateTime), N'admin', N'admin', 1)
SET IDENTITY_INSERT [dbo].[Site_CMSPage] OFF
SET IDENTITY_INSERT [dbo].[Site_Content] ON 

SET IDENTITY_INSERT [dbo].[Site_Content] OFF
SET IDENTITY_INSERT [dbo].[SystemGroup] ON 

INSERT [dbo].[SystemGroup] ([g_id], [g_gid], [g_name], [g_picCover], [g_createTime], [g_createUser], [g_sort]) VALUES (1, N'78ehg5ed', N'系统设置', N'/Img/system.png', CAST(N'2014-09-01 00:00:00.000' AS DateTime), N'admin', 1)
INSERT [dbo].[SystemGroup] ([g_id], [g_gid], [g_name], [g_picCover], [g_createTime], [g_createUser], [g_sort]) VALUES (2, N'f74b51bf', N'站点管理', N'/ImageIcon/explorer.png', CAST(N'2015-11-02 15:57:23.970' AS DateTime), N'admin', 2)
SET IDENTITY_INSERT [dbo].[SystemGroup] OFF
SET IDENTITY_INSERT [dbo].[SystemModual] ON 

INSERT [dbo].[SystemModual] ([m_id], [m_gid], [m_g_gid], [m_path], [m_name], [m_parent], [m_parent_gid], [m_Controller], [m_Action], [m_createTime], [m_createUser]) VALUES (1, N'12343212', N'78ehg5ed', N'11', N'系统管理', 0, N'', N'', N'', CAST(N'2014-04-12 00:00:00.000' AS DateTime), N'admin')
INSERT [dbo].[SystemModual] ([m_id], [m_gid], [m_g_gid], [m_path], [m_name], [m_parent], [m_parent_gid], [m_Controller], [m_Action], [m_createTime], [m_createUser]) VALUES (11, N'1e7728d3', N'78ehg5ed', N'1103', N'系统模块组', 1, N'12343212', N'system', N'groupList', CAST(N'2014-07-23 15:42:37.000' AS DateTime), N'admin')
INSERT [dbo].[SystemModual] ([m_id], [m_gid], [m_g_gid], [m_path], [m_name], [m_parent], [m_parent_gid], [m_Controller], [m_Action], [m_createTime], [m_createUser]) VALUES (2, N'234esf34', N'78ehg5ed', N'1101', N'模块和权限', 1, N'12343212', N'system', N'moduleList', CAST(N'2014-04-12 00:00:00.000' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[SystemModual] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([u_id], [u_gid], [u_username], [u_password], [u_createTime], [u_createUser], [u_status]) VALUES (1, N'123de43w', N'admin', N'21232F297A57A5A743894AE4A801FC3', CAST(N'2014-02-19 13:07:27.000' AS DateTime), N'admin', 1)
INSERT [dbo].[User] ([u_id], [u_gid], [u_username], [u_password], [u_createTime], [u_createUser], [u_status]) VALUES (2, N'sdf345fs', N'test', N'21232F297A57A5A743894AE4A801FC3', CAST(N'2014-05-11 14:32:03.000' AS DateTime), N'admin', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[User_Role_Mapping] ON 

INSERT [dbo].[User_Role_Mapping] ([u_r_id], [u_r_gid], [u_gid], [r_gid], [u_r_CreateTime], [u_r_CreateUser]) VALUES (1, N'dfs4rfdw', N'123de43w', N'12334422', CAST(N'2014-04-12 00:00:00.000' AS DateTime), N'廖杨')
SET IDENTITY_INSERT [dbo].[User_Role_Mapping] OFF
ALTER TABLE [dbo].[ModulePermission]  WITH CHECK ADD  CONSTRAINT [FK_ModulePermission_SystemModule] FOREIGN KEY([p_m_gid])
REFERENCES [dbo].[SystemModual] ([m_gid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ModulePermission] CHECK CONSTRAINT [FK_ModulePermission_SystemModule]
GO
ALTER TABLE [dbo].[Role_ModualPermission_Mapping]  WITH CHECK ADD  CONSTRAINT [FK_Role_ModualPermission_Mapping_ModualPermission] FOREIGN KEY([p_gid])
REFERENCES [dbo].[ModulePermission] ([p_gid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Role_ModualPermission_Mapping] CHECK CONSTRAINT [FK_Role_ModualPermission_Mapping_ModualPermission]
GO
ALTER TABLE [dbo].[SystemModual]  WITH CHECK ADD  CONSTRAINT [FK_SystemModual_SystemGroup] FOREIGN KEY([m_g_gid])
REFERENCES [dbo].[SystemGroup] ([g_gid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SystemModual] CHECK CONSTRAINT [FK_SystemModual_SystemGroup]
GO
/****** Object:  StoredProcedure [dbo].[Proc_ModulePermission_DeleteByp_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:yang.liao*****
*****CreateTime:07 29 2014  2:16PM*****/
create proc [dbo].[Proc_ModulePermission_DeleteByp_gid]
@p_gid VARCHAR(8)
AS
delete from [ModulePermission] where p_gid=@p_gid



GO
/****** Object:  StoredProcedure [dbo].[Proc_ModulePermission_Insert]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****插入*****
*****CreateUser:yang.liao*****
*****CreateTime:07 29 2014  2:16PM*****/
create proc [dbo].[Proc_ModulePermission_Insert]
@p_id int output,
@p_gid varchar(8),
@p_m_gid varchar(8),
@p_name nvarchar(50),
@p_path varchar(50),
@p_createTime DateTime,
@p_createUser nvarchar(50)
AS
insert into [ModulePermission](
p_gid,
p_m_gid,
p_name,
p_path,
p_createTime,
p_createUser
)
values(
@p_gid,
@p_m_gid,
@p_name,
@p_path,
@p_createTime,
@p_createUser
)
SET @p_id=@@IDENTITY



GO
/****** Object:  StoredProcedure [dbo].[Proc_ModulePermission_SelectByp_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:07 29 2014  2:16PM*****/
create proc [dbo].[Proc_ModulePermission_SelectByp_gid]
@p_gid VARCHAR(8)
AS
select * FROM [ModulePermission] WHERE p_gid=@p_gid



GO
/****** Object:  StoredProcedure [dbo].[Proc_ModulePermission_SelectModulePerByRoleGid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_ModulePermission_SelectModulePerByRoleGid]
	@rgid VARCHAR(8),
	@mgid VARCHAR(8)
 AS
  SELECT * FROM dbo.ModulePermission WHERE p_gid IN
 (SELECT p_gid FROM dbo.[Role_ModualPermission_Mapping] WHERE r_gid=@rgid) 
 AND p_m_gid=@mgid



GO
/****** Object:  StoredProcedure [dbo].[Proc_ModulePermission_SelectPage]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:07 29 2014  2:16PM*****/
create proc [dbo].[Proc_ModulePermission_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'p_id','ModulePermission',@pageIndex,@pageSize,@orderBy,@where



GO
/****** Object:  StoredProcedure [dbo].[Proc_ModulePermission_SelectUserPerByu_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_ModulePermission_SelectUserPerByu_gid]
  @u_gid VARCHAR(8)
AS
SELECT * FROM dbo.ModulePermission WHERE p_gid IN (
SELECT p_gid FROM dbo.Role_ModualPermission_Mapping WHERE r_gid IN (
  SELECT r_gid FROM dbo.User_Role_Mapping WHERE u_gid=@u_gid)
  )



GO
/****** Object:  StoredProcedure [dbo].[Proc_ModulePermission_UpdateByp_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****修改*****
*****CreateUser:yang.liao*****
*****CreateTime:07 29 2014  2:16PM*****/
create proc [dbo].[Proc_ModulePermission_UpdateByp_gid]
@p_gid varchar(8),
@p_m_gid varchar(8),
@p_name nvarchar(50),
@p_path varchar(50),
@p_createTime DateTime,
@p_createUser nvarchar(50)
AS
update [ModulePermission] SET 
p_m_gid=@p_m_gid,
p_name=@p_name,
p_path=@p_path,
p_createTime=@p_createTime,
p_createUser=@p_createUser
 where p_gid=@p_gid



GO
/****** Object:  StoredProcedure [dbo].[Proc_Role_DeleteByr_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:yang.liao*****
*****CreateTime:07 28 2014  5:06PM*****/
CREATE proc [dbo].[Proc_Role_DeleteByr_gid]
@r_gid VARCHAR(8)
AS
delete from [Role] where r_gid=@r_gid



GO
/****** Object:  StoredProcedure [dbo].[Proc_Role_Insert]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****插入*****
*****CreateUser:yang.liao*****
*****CreateTime:07 28 2014  5:06PM*****/
CREATE proc [dbo].[Proc_Role_Insert]
@r_id int output,
@r_gid varchar(8),
@r_name nvarchar(50),
@r_createUser NVARCHAR(50),
@r_createTime DateTime
AS
insert into [Role](
r_gid,
r_name,
r_createTime,
r_createUser
)
values(
@r_gid,
@r_name,
@r_createTime,
@r_createUser
)
SET @r_id=@@IDENTITY



GO
/****** Object:  StoredProcedure [dbo].[Proc_Role_ModualPermission_Mapping_DeleteByr_gidAndp_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:yang.liao*****
*****CreateTime:11 29 2014  5:22PM*****/
create proc [dbo].[Proc_Role_ModualPermission_Mapping_DeleteByr_gidAndp_gid]
@r_gid VARCHAR(8),
@p_gid VARCHAR(8)

AS
delete from [Role_ModualPermission_Mapping] where r_gid=@r_gid AND p_gid=@p_gid



GO
/****** Object:  StoredProcedure [dbo].[Proc_Role_ModualPermission_Mapping_DeleteByr_p_id]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:yang.liao*****
*****CreateTime:11 29 2014  5:22PM*****/
create proc [dbo].[Proc_Role_ModualPermission_Mapping_DeleteByr_p_id]
@r_p_id int
AS
delete from [Role_ModualPermission_Mapping] where r_p_id=@r_p_id



GO
/****** Object:  StoredProcedure [dbo].[Proc_Role_ModualPermission_Mapping_Insert]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****插入*****
*****CreateUser:yang.liao*****
*****CreateTime:11 29 2014  5:22PM*****/
create proc [dbo].[Proc_Role_ModualPermission_Mapping_Insert]
@r_p_id int output,
@r_p_gid varchar(8),
@r_gid varchar(8),
@p_gid varchar(8),
@r_p_CreateTime DateTime,
@r_p_CreateUser nvarchar(30)
AS
insert into [Role_ModualPermission_Mapping](
r_p_gid,
r_gid,
p_gid,
r_p_CreateTime,
r_p_CreateUser
)
values(
@r_p_gid,
@r_gid,
@p_gid,
@r_p_CreateTime,
@r_p_CreateUser
)
SET @r_p_id=@@IDENTITY



GO
/****** Object:  StoredProcedure [dbo].[Proc_Role_ModualPermission_Mapping_SelectByr_p_id]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:11 29 2014  5:22PM*****/
create proc [dbo].[Proc_Role_ModualPermission_Mapping_SelectByr_p_id]
@r_p_id int
AS
select * FROM [Role_ModualPermission_Mapping] WHERE r_p_id=@r_p_id



GO
/****** Object:  StoredProcedure [dbo].[Proc_Role_ModualPermission_Mapping_SelectPage]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:11 29 2014  5:22PM*****/
create proc [dbo].[Proc_Role_ModualPermission_Mapping_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'r_p_id','Role_ModualPermission_Mapping',@pageIndex,@pageSize,@orderBy,@where



GO
/****** Object:  StoredProcedure [dbo].[Proc_Role_ModualPermission_Mapping_UpdateByr_p_id]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****修改*****
*****CreateUser:yang.liao*****
*****CreateTime:11 29 2014  5:22PM*****/
create proc [dbo].[Proc_Role_ModualPermission_Mapping_UpdateByr_p_id]
@r_p_id int,
@r_p_gid varchar(8),
@r_gid varchar(8),
@p_gid varchar(8),
@r_p_CreateTime DateTime,
@r_p_CreateUser nvarchar(30)
AS
update [Role_ModualPermission_Mapping] SET 
r_p_gid=@r_p_gid,
r_gid=@r_gid,
p_gid=@p_gid,
r_p_CreateTime=@r_p_CreateTime,
r_p_CreateUser=@r_p_CreateUser
 where r_p_id=@r_p_id



GO
/****** Object:  StoredProcedure [dbo].[Proc_Role_SelectByr_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:07 28 2014  5:06PM*****/
CREATE proc [dbo].[Proc_Role_SelectByr_gid]
@r_gid VARCHAR(8)
AS
select * FROM [Role] WHERE r_gid=@r_gid



GO
/****** Object:  StoredProcedure [dbo].[Proc_Role_SelectPage]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:07 28 2014  5:06PM*****/
create proc [dbo].[Proc_Role_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'r_id','Role',@pageIndex,@pageSize,@orderBy,@where



GO
/****** Object:  StoredProcedure [dbo].[Proc_Role_UpdateByr_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****修改*****
*****CreateUser:yang.liao*****
*****CreateTime:07 28 2014  5:06PM*****/
create proc [dbo].[Proc_Role_UpdateByr_gid]
@r_gid varchar(8),
@r_name nvarchar(50),
@r_createTime DateTime
AS
update [Role] SET 
r_name=@r_name,
r_createTime=@r_createTime
 where r_gid=@r_gid



GO
/****** Object:  StoredProcedure [dbo].[Proc_SelectPageBase]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_SelectPageBase]
	@rowCount INT OUTPUT,
	@columns VARCHAR(200),
	@Identity VARCHAR(20),
	@tableName VARCHAR(50),
	@pageIndex INT,
	@pageSize INT,
	@orderBy VARCHAR(20),
	@where VARCHAR(300)
AS
	DECLARE @sql NVARCHAR(2000),@sort NVARCHAR(50)
	SET @sort=@orderBy
	IF(@orderBy='')
	BEGIN
	SET @sort=@Identity
	END
	
	SET @sql=N'SELECT * FROM(
	SELECT ROW_NUMBER()OVER (ORDER BY '+@sort+')AS num,'+@columns+' FROM ['+@tableName+']'+@where+')AS t
	WHERE num > '+CAST((@pageIndex-1)*@pageSize AS VARCHAR(5))+' AND num <= '+CAST(@pageIndex*@pageSize AS VARCHAR(5))
	+' order by '+@sort+';
	SELECT @rowCount1= COUNT(1) FROM ['+@tableName+']'+@where
	PRINT @sql
	EXEC sp_executesql @sql,N'@rowCount1 int output',@rowCount1=@rowCount OUTPUT



GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_Cates_DeleteByc_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:42PM*****/
CREATE proc [dbo].[Proc_Site_Cates_DeleteByc_gid]
@c_gid VARCHAR(8)
AS
delete from [Site_Cates] where c_gid=@c_gid






GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_Cates_Insert]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****插入*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:42PM*****/
create proc [dbo].[Proc_Site_Cates_Insert]
@c_id int output,
@c_gid varchar(8),
@c_path varchar(20),
@c_isMainCate BIT,
@c_tableId varchar(20),
@c_name nvarchar(50),
@c_type nvarchar(50),
@c_createUser nvarchar(50),
@c_createTime DateTime
AS
insert into [Site_Cates](
c_gid,
c_path,
c_isMainCate,
c_tableId,
c_name,
c_type,
c_createUser,
c_createTime
)
values(
@c_gid,
@c_path,
@c_isMainCate,
@c_tableId,
@c_name,
@c_type,
@c_createUser,
@c_createTime
)
SET @c_id=@@IDENTITY






GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_Cates_SelectByc_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:42PM*****/
CREATE proc [dbo].[Proc_Site_Cates_SelectByc_gid]
@c_gid VARCHAR(8)
AS
select * FROM [Site_Cates] WHERE c_gid=@c_gid






GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_Cates_SelectPage]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:42PM*****/
create proc [dbo].[Proc_Site_Cates_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'c_id','Site_Cates',@pageIndex,@pageSize,@orderBy,@where



GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_Cates_UpdateByc_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****修改*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:42PM*****/
create proc [dbo].[Proc_Site_Cates_UpdateByc_gid]
@c_id int,
@c_gid varchar(8),
@c_path varchar(20),
@c_isMainCate BIT,
@c_tableId varchar(20),
@c_name nvarchar(50),
@c_type nvarchar(50),
@c_createUser nvarchar(50),
@c_createTime DateTime
AS
update [Site_Cates] SET 
c_path=@c_path,
c_isMainCate=@c_isMainCate,
c_tableId=@c_tableId,
c_name=@c_name,
c_type=@c_type,
c_createUser=@c_createUser,
c_createTime=@c_createTime
 where c_gid=@c_gid






GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_CMSBlock_DeleteByb_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:46PM*****/
create proc [dbo].[Proc_Site_CMSBlock_DeleteByb_gid]
@b_gid VARCHAR(8)
AS
delete from [Site_CMSBlock] where b_gid=@b_gid






GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_CMSBlock_Insert]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****插入*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:46PM*****/
create proc [dbo].[Proc_Site_CMSBlock_Insert]
@b_id int output,
@b_gid varchar(8),
@b_p_gid varchar(8),
@b_path varchar(20),
@b_name nvarchar(50),
@b_createUser nvarchar(50),
@b_createTime DateTime
AS
insert into [Site_CMSBlock](
b_gid,
b_p_gid,
b_path,
b_name,
b_createUser,
b_createTime
)
values(
@b_gid,
@b_p_gid,
@b_path,
@b_name,
@b_createUser,
@b_createTime
)
SET @b_id=@@IDENTITY






GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_CMSBlock_SelectByb_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:46PM*****/
create proc [dbo].[Proc_Site_CMSBlock_SelectByb_gid]
@b_gid VARCHAR(8)
AS
select * FROM [Site_CMSBlock] WHERE b_gid=@b_gid






GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_CMSBlock_SelectPage]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:46PM*****/
create proc [dbo].[Proc_Site_CMSBlock_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'b_id','Site_CMSBlock',@pageIndex,@pageSize,@orderBy,@where



GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_CMSBlock_UpdateByb_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****修改*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:46PM*****/
create proc [dbo].[Proc_Site_CMSBlock_UpdateByb_gid]
@b_id int,
@b_gid varchar(8),
@b_p_gid varchar(8),
@b_path varchar(20),
@b_name nvarchar(50),
@b_createUser nvarchar(50),
@b_createTime DateTime
AS
update [Site_CMSBlock] SET 
b_p_gid=@b_p_gid,
b_path=@b_path,
b_name=@b_name,
b_createUser=@b_createUser,
b_createTime=@b_createTime
 where b_gid=@b_gid






GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_CMSItem_DeleteByi_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:51PM*****/
create proc [dbo].[Proc_Site_CMSItem_DeleteByi_gid]
@i_gid VARCHAR(8)
AS
delete from [Site_CMSItem] where i_gid=@i_gid






GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_CMSItem_Insert]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****插入*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:51PM*****/
CREATE proc [dbo].[Proc_Site_CMSItem_Insert]
@i_id int output,
@i_gid varchar(8),
@i_b_gid varchar(8),
@i_p_gid varchar(8),
@i_title nvarchar(50),
@i_c_gid varchar(8),
@i_c_type nvarchar(50),
@i_subTitle nvarchar(20),
@i_intro nvarchar(500),
@i_status int,
@i_createUser nvarchar(30),
@i_createTime DateTime
AS
insert into [Site_CMSItem](
i_gid,
i_b_gid,
i_p_gid,
i_title,
i_c_gid,
i_c_type,
i_subTitle,
i_intro,
i_status,
i_createUser,
i_createTime
)
values(
@i_gid,
@i_b_gid,
@i_p_gid,
@i_title,
@i_c_gid,
@i_c_type,
@i_subTitle,
@i_intro,
@i_status,
@i_createUser,
@i_createTime
)
SET @i_id=@@IDENTITY






GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_CMSItem_SelectByc_gidAndb_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:51PM*****/
CREATE proc [dbo].[Proc_Site_CMSItem_SelectByc_gidAndb_gid]
@c_gid VARCHAR(8),
@b_gid VARCHAR(8)
AS
select * FROM [Site_CMSItem] WHERE i_c_gid=@c_gid AND i_b_gid=@b_gid






GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_CMSItem_SelectByi_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:51PM*****/
create proc [dbo].[Proc_Site_CMSItem_SelectByi_gid]
@i_gid VARCHAR(8)
AS
select * FROM [Site_CMSItem] WHERE i_gid=@i_gid






GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_CMSItem_SelectPage]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:51PM*****/
create proc [dbo].[Proc_Site_CMSItem_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'i_id','Site_CMSItem',@pageIndex,@pageSize,@orderBy,@where



GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_CMSItem_UpdateByi_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****修改*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:51PM*****/
CREATE proc [dbo].[Proc_Site_CMSItem_UpdateByi_gid]
@i_id int,
@i_gid varchar(8),
@i_b_gid varchar(8),
@i_p_gid varchar(8),
@i_title nvarchar(50),
@i_c_gid varchar(8),
@i_c_type nvarchar(50),
@i_subTitle nvarchar(20),
@i_intro nvarchar(500),
@i_status int,
@i_createUser nvarchar(30),
@i_createTime DateTime
AS
update [Site_CMSItem] SET 
i_b_gid=@i_b_gid,
i_p_gid=@i_p_gid,
i_title=@i_title,
i_c_gid=@i_c_gid,
i_c_type=@i_c_type,
i_subTitle=@i_subTitle,
i_intro=@i_intro,
i_status=@i_status,
i_createUser=@i_createUser,
i_createTime=@i_createTime
 where i_gid=@i_gid






GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_CMSPage_DeleteByp_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:53PM*****/
create proc [dbo].[Proc_Site_CMSPage_DeleteByp_gid]
@p_gid VARCHAR(8)
AS
delete from [Site_CMSPage] where p_gid=@p_gid






GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_CMSPage_Insert]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****插入*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:53PM*****/
create proc [dbo].[Proc_Site_CMSPage_Insert]
@p_id int output,
@p_gid varchar(8),
@p_name nvarchar(50),
@p_path nvarchar(100),
@p_tempPath nvarchar(100),
@p_filePath nvarchar(100),
@p_createTime DateTime,
@p_createUser nvarchar(30),
@p_pageDuty nvarchar(100),
@p_siteName nvarchar(30)
AS
insert into [Site_CMSPage](
p_gid,
p_name,
p_path,
p_tempPath,
p_filePath,
p_createTime,
p_createUser,
p_pageDuty,
p_siteName
)
values(
@p_gid,
@p_name,
@p_path,
@p_tempPath,
@p_filePath,
@p_createTime,
@p_createUser,
@p_pageDuty,
@p_siteName
)
SET @p_id=@@IDENTITY






GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_CMSPage_SelectByp_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:53PM*****/
create proc [dbo].[Proc_Site_CMSPage_SelectByp_gid]
@p_gid VARCHAR(8)
AS
select * FROM [Site_CMSPage] WHERE p_gid=@p_gid






GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_CMSPage_SelectPage]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:53PM*****/
create proc [dbo].[Proc_Site_CMSPage_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'p_id','Site_CMSPage',@pageIndex,@pageSize,@orderBy,@where



GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_CMSPage_UpdateByp_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****修改*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:53PM*****/
create proc [dbo].[Proc_Site_CMSPage_UpdateByp_gid]
@p_id int,
@p_gid varchar(8),
@p_name nvarchar(50),
@p_path nvarchar(100),
@p_tempPath nvarchar(100),
@p_filePath nvarchar(100),
@p_createTime DateTime,
@p_createUser nvarchar(30),
@p_pageDuty nvarchar(100),
@p_siteName nvarchar(30)
AS
update [Site_CMSPage] SET 
p_name=@p_name,
p_path=@p_path,
p_tempPath=@p_tempPath,
p_filePath=@p_filePath,
p_createTime=@p_createTime,
p_createUser=@p_createUser,
p_pageDuty=@p_pageDuty,
p_siteName=@p_siteName
 where p_gid=@p_gid






GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_Content_DeleteByc_id]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:yang.liao*****
*****CreateTime:12 22 2016 10:57PM*****/
create proc [dbo].[Proc_Site_Content_DeleteByc_id]
@c_id int
AS
delete from [Site_Content] where c_id=@c_id




GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_Content_Insert]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****插入*****
*****CreateUser:yang.liao*****
*****CreateTime:12 22 2016 11:05PM*****/
CREATE proc [dbo].[Proc_Site_Content_Insert]
@c_id int output,
@c_gid varchar(8),
@c_c_gid varchar(8),
@c_title nvarchar(50),
@c_keywords NVARCHAR(50),
@c_sub_title nvarchar(20),
@c_intro nvarchar(100),
@c_content nvarchar(MAX),
@c_img_src varchar(150),
@c_createUserId varchar(8),
@c_createUserName nvarchar(30),
@c_createUserNickName nvarchar(30),
@c_createTime DateTime,
@c_status int,
@c_state bit
AS
insert into [Site_Content](
c_gid,
c_c_gid,
c_title,
c_keywords,
c_sub_title,
c_intro,
c_content,
c_img_src,
c_createUserId,
c_createUserName,
c_createUserNickName,
c_createTime,
c_status,
c_state
)
values(
@c_gid,
@c_c_gid,
@c_title,
@c_keywords,
@c_sub_title,
@c_intro,
@c_content,
@c_img_src,
@c_createUserId,
@c_createUserName,
@c_createUserNickName,
@c_createTime,
@c_status,
@c_state
)
SET @c_id=@@IDENTITY




GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_Content_SelectByc_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:12 22 2016 11:05PM*****/
CREATE proc [dbo].[Proc_Site_Content_SelectByc_gid]
@c_gid VARCHAR(8)
AS
select * FROM [Site_Content] WHERE c_gid=@c_gid
GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_Content_SelectByc_id]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:12 22 2016 10:57PM*****/
create proc [dbo].[Proc_Site_Content_SelectByc_id]
@c_id int
AS
select * FROM [Site_Content] WHERE c_id=@c_id




GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_Content_SelectPage]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:12 22 2016 10:57PM*****/
create proc [dbo].[Proc_Site_Content_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'c_id','Site_Content',@pageIndex,@pageSize,@orderBy,@where

GO
/****** Object:  StoredProcedure [dbo].[Proc_Site_Content_UpdateByc_id]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****修改*****
*****CreateUser:yang.liao*****
*****CreateTime:12 22 2016 11:05PM*****/
CREATE proc [dbo].[Proc_Site_Content_UpdateByc_id]
@c_id int,
@c_gid varchar(8),
@c_c_gid varchar(8),
@c_title nvarchar(50),
@c_keywords NVARCHAR(50),
@c_sub_title nvarchar(20),
@c_intro nvarchar(100),
@c_content nvarchar(MAX),
@c_img_src varchar(150),
@c_createUserId varchar(8),
@c_createUserName nvarchar(30),
@c_createUserNickName nvarchar(30),
@c_status int,
@c_state bit
AS
update [Site_Content] SET 
c_gid=@c_gid,
c_c_gid=@c_c_gid,
c_title=@c_title,
c_keywords=@c_keywords,
c_sub_title=@c_sub_title,
c_intro=@c_intro,
c_content=@c_content,
c_img_src=@c_img_src,
c_createUserId=@c_createUserId,
c_createUserName=@c_createUserName,
c_createUserNickName=@c_createUserNickName,
c_status=@c_status,
c_state=@c_state
 where c_id=@c_id




GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemGroup_DeleteByg_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:55PM*****/
create proc [dbo].[Proc_SystemGroup_DeleteByg_gid]
@g_gid VARCHAR(8)
AS
delete from [SystemGroup] where g_gid=@g_gid






GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemGroup_Insert]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****插入*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:55PM*****/
create proc [dbo].[Proc_SystemGroup_Insert]
@g_id int output,
@g_gid varchar(8),
@g_name nvarchar(50),
@g_picCover nvarchar(50),
@g_createTime DateTime,
@g_createUser nvarchar(50),
@g_sort int
AS
insert into [SystemGroup](
g_gid,
g_name,
g_picCover,
g_createTime,
g_createUser,
g_sort
)
values(
@g_gid,
@g_name,
@g_picCover,
@g_createTime,
@g_createUser,
@g_sort
)
SET @g_id=@@IDENTITY






GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemGroup_SelectByg_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:55PM*****/
create proc [dbo].[Proc_SystemGroup_SelectByg_gid]
@g_gid VARCHAR(8)
AS
select * FROM [SystemGroup] WHERE g_gid=@g_gid







GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemGroup_SelectByu_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_SystemGroup_SelectByu_gid]
	@u_gid VARCHAR(8)
AS
	SELECT  * FROM dbo.SystemGroup WHERE g_gid IN(
	SELECT DISTINCT m_g_gid FROM dbo.SystemModual WHERE m_gid IN(
	SELECT p_m_gid FROM dbo.ModulePermission WHERE p_gid IN(
	SELECT p_gid FROM dbo.Role_ModualPermission_Mapping WHERE r_gid IN (
 	SELECT r_gid FROM dbo.User_Role_Mapping WHERE u_gid=@u_gid))))



GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemGroup_SelectPage]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:06 25 2014  3:07PM*****/
create proc [dbo].[Proc_SystemGroup_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'g_id','SystemGroup',@pageIndex,@pageSize,@orderBy,@where



GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemGroup_UpdateByg_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****修改*****
*****CreateUser:yang.liao*****
*****CreateTime:11  2 2015  3:55PM*****/
create proc [dbo].[Proc_SystemGroup_UpdateByg_gid]
@g_id int,
@g_gid varchar(8),
@g_name nvarchar(50),
@g_picCover nvarchar(50),
@g_createTime DateTime,
@g_createUser nvarchar(50),
@g_sort int
AS
update [SystemGroup] SET 
g_name=@g_name,
g_picCover=@g_picCover,
g_createTime=@g_createTime,
g_createUser=@g_createUser,
g_sort=@g_sort
 where g_gid=@g_gid






GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemModual_DeleteBym_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:yang.liao*****
*****CreateTime:05 22 2014 11:01PM*****/
CREATE proc [dbo].[Proc_SystemModual_DeleteBym_gid]
@m_gid VARCHAR(8)
AS
DELETE FROM [SystemModual] WHERE m_gid=@m_gid



GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemModual_DeleteBym_id]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:yang.liao*****
*****CreateTime:05 22 2014 11:01PM*****/
create proc [dbo].[Proc_SystemModual_DeleteBym_id]
@m_id int
AS
delete from [SystemModual] where m_id=@m_id



GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemModual_Insert]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****插入*****
*****CreateUser:yang.liao*****
*****CreateTime:05 22 2014 11:01PM*****/
CREATE proc [dbo].[Proc_SystemModual_Insert]
@m_id int output,
@m_gid varchar(8),
@m_g_gid VARCHAR(8),
@m_name nvarchar(50),
@m_path NVARCHAR(50),
@m_parent int,
@m_parent_gid VARCHAR(8),
@m_Controller varchar(50),
@m_Action varchar(50),
@m_createTime DateTime,
@m_createUser nvarchar(50)
AS
insert into [SystemModual](
m_gid,
m_g_gid,
m_name,
m_path,
m_parent,
m_parent_gid,
m_Controller,
m_Action,
m_createTime,
m_createUser
)
values(
@m_gid,
@m_g_gid,
@m_name,
@m_path,
@m_parent,
@m_parent_gid,
@m_Controller,
@m_Action,
@m_createTime,
@m_createUser
)
SET @m_id=@@IDENTITY



GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemModual_SelectBym_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:05 22 2014 11:01PM*****/
CREATE proc [dbo].[Proc_SystemModual_SelectBym_gid]
@m_gid VARCHAR(8)
AS
select * FROM [SystemModual] WHERE m_gid=@m_gid



GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemModual_SelectByu_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_SystemModual_SelectByu_gid]
	@u_gid VARCHAR(8),
	@m_g_gid VARCHAR(8)
AS
	--一个用户可能对应多个角色
	---查询用户 模块组下的模块信息
WITH
	temp AS (
		SELECT * FROM dbo.SystemModual WHERE m_gid IN (--查询权限id对应的 模块信息
SELECT p_m_gid FROM ModulePermission WHERE p_gid IN(--查询模块权限 对应的 模块gid
SELECT p_gid FROM Role_ModualPermission_Mapping WHERE r_gid IN (--查询角色对应的 模块权限gid
SELECT r_gid FROM dbo.User_Role_Mapping WHERE u_gid=@u_gid)--查询用户对应的 角色gid
)) AND m_g_gid=@m_g_gid
)
SELECT * FROM dbo.SystemModual WHERE m_id IN (
	SELECT m_parent FROM temp
)
UNION
SELECT * FROM temp



GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemModual_SelectPage]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:05 22 2014 11:01PM*****/
create proc [dbo].[Proc_SystemModual_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'m_id','SystemModual',@pageIndex,@pageSize,@orderBy,@where



GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemModual_UpdateBym_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****修改*****
*****CreateUser:yang.liao*****
*****CreateTime:05 22 2014 11:01PM*****/
CREATE proc [dbo].[Proc_SystemModual_UpdateBym_gid]
@m_gid varchar(8),
@m_name nvarchar(50),
@m_path NVARCHAR(50),
@m_parent int,
@m_parent_gid VARCHAR(8),
@m_Controller varchar(50),
@m_Action varchar(50),
@m_createTime DateTime,
@m_createUser nvarchar(50)
AS
update [SystemModual] SET 
m_name=@m_name,
m_path=@m_path,
m_parent=@m_parent,
m_parent_gid=@m_parent_gid,
m_Controller=@m_Controller,
m_Action=@m_Action,
m_createTime=@m_createTime,
m_createUser=@m_createUser
 where m_gid=@m_gid



GO
/****** Object:  StoredProcedure [dbo].[Proc_User_DeleteByu_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:yang.liao*****
*****CreateTime:05 17 2014  6:34PM*****/
CREATE proc [dbo].[Proc_User_DeleteByu_gid]
@u_gid VARCHAR(8)
AS
delete from [User] where u_gid=@u_gid



GO
/****** Object:  StoredProcedure [dbo].[Proc_User_Insert]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****插入*****
*****CreateUser:yang.liao*****
*****CreateTime:05 17 2014  6:34PM*****/
create proc [dbo].[Proc_User_Insert]
@u_id int output,
@u_gid varchar(8),
@u_username nvarchar(50),
@u_password nvarchar(16),
@u_createTime DateTime
AS
insert into [User](
u_gid,
u_username,
u_password,
u_createTime
)
values(
@u_gid,
@u_username,
@u_password,
@u_createTime
)
SET @u_id=@@IDENTITY



GO
/****** Object:  StoredProcedure [dbo].[Proc_User_SelectByu_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:05 17 2014  6:34PM*****/
CREATE proc [dbo].[Proc_User_SelectByu_gid]
@u_gid NVARCHAR(8)
AS
select * FROM [User] WHERE u_gid=@u_gid



GO
/****** Object:  StoredProcedure [dbo].[Proc_User_SelectByu_name]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:05 17 2014  6:34PM*****/
CREATE proc [dbo].[Proc_User_SelectByu_name]
@u_username NVARCHAR(50)
AS
select * FROM [User] WHERE u_username=@u_username



GO
/****** Object:  StoredProcedure [dbo].[Proc_User_SelectPage]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:05 17 2014  6:34PM*****/
create proc [dbo].[Proc_User_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'u_id','User',@pageIndex,@pageSize,@orderBy,@where



GO
/****** Object:  StoredProcedure [dbo].[Proc_User_UpdateByu_gid]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****修改*****
*****CreateUser:yang.liao*****
*****CreateTime:05 17 2014  6:34PM*****/
CREATE proc [dbo].[Proc_User_UpdateByu_gid]
@u_gid varchar(8),
@u_password varchar(16)
AS
update [User] SET 
u_password=@u_password
 where u_gid=@u_gid



GO
/****** Object:  StoredProcedure [dbo].[Tool_CreateDALByMSEnterlibry]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Tool_CreateDALByMSEnterlibry]
	@procname varchar(100),
	@returnType VARCHAR(50),
	@inputType VARCHAR(50)
AS
IF NOT EXISTS(SELECT * FROM sys.procedures WHERE name=@procname)
BEGIN
PRINT 'Not Find This Procdurece'
RETURN
END

DECLARE @name VARCHAR(30),@userType INT,@isOutPut BIT,@hasOutPut BIT,@outputArgu VARCHAR(30)
DECLARE columnCursor SCROLL CURSOR FOR
SELECT name,user_type_id,is_output FROM sys.parameters WHERE object_id=OBJECT_ID(@procname)



OPEN columnCursor

PRINT N'#region '+@procname
IF((CHARINDEX('selectPage',@procname)!=0))
	BEGIN
		PRINT N'public '+@returnType+' '+SUBSTRING(@procname,CHARINDEX('_',@procname)+1,LEN(@procname)-4)+'(string cloumns,int pageIndex,int pageSize,string orderBy,string where,out int rowCount)'
	END
ELSE
	BEGIN
		PRINT N'public '+@returnType+' '+SUBSTRING(@procname,CHARINDEX('_',@procname)+1,LEN(@procname)-4)+'('+@inputType+' obj)'
	END

PRINT N'{
		DbCommand dbCmd = db.GetStoredProcCommand("'+@procname+'");'
			
FETCH NEXT FROM columnCursor INTO @name,@userType,@isOutPut
DECLARE @csharpType VARCHAR(20)

WHILE @@FETCH_STATUS=0
BEGIN
	IF(@userType IN (56))
	SET @csharpType='Int32'
	ELSE IF(@userType IN (167,175,231))
	SET @csharpType='String'
	ELSE IF(@userType IN (60))
	SET @csharpType='Decimal'	
	ELSE IF(@userType IN (61))
	SET @csharpType='DateTime'
	ELSE IF(@userType IN (62))
	SET @csharpType='Single'
	ELSE IF(@userType IN (104))
	SET @csharpType='Boolean'
	ELSE
	SET @csharpType='String'
IF(@isOutPut=1)
	BEGIN
	SET @hasOutPut=1
	SET @outputArgu=@name
	PRINT N'		db.AddOutParameter(dbCmd, "'+@name+'", DbType.'+@csharpType+',4);'
	END
ELSE
	BEGIN
	IF(CHARINDEX('selectPage',@procname)!=0)
	BEGIN
		PRINT N'		db.AddInParameter(dbCmd, "'+@name+'", DbType.'+@csharpType+','+SUBSTRING(@name,2,LEN(@name)-1)+');'
	END
	else
	PRINT N'		db.AddInParameter(dbCmd, "'+@name+'", DbType.'+@csharpType+', obj.'+SUBSTRING(@name,2,LEN(@name)-1)+');'
	
	END

FETCH NEXT FROM columnCursor INTO @name,@userType,@isOutPut
END
DECLARE @modelType VARCHAR(30)
IF(LOWER(@returnType)='int' OR @returnType='')
BEGIN

PRINT N'		try
			{ 
				int returnValue = db.ExecuteNonQuery(dbCmd);'
	IF(@hasOutPut=1)
	BEGIN
		PRINT N'			int '+SUBSTRING(@outputArgu,2,LEN(@outputArgu)-1)+' = (int)dbCmd.Parameters["'+@outputArgu+'"].Value;'
	END
PRINT N'		return returnValue;
			}
			 catch(Exception e)
			{
				throw new Exception(e.Message);
			}'
END
ELSE IF(CHARINDEX('list',@returnType)!=0)
BEGIN
	SET @modelType=SUBSTRING(@procname,CHARINDEX('_',@procname)+1,CHARINDEX('_',@procname,6)-CHARINDEX('_',@procname)-1)
PRINT N'		'+@returnType+' list=new '+@returnType+'();
			try
            {
               using( IDataReader reader = db.ExecuteReader(dbCmd))
               {
					while (reader.Read())
					{
						'+@modelType+' obj=new '+@modelType+'();
						//属性赋值
	                    
						list.Add(obj);
					}'
		IF(CHARINDEX('selectPage',@procname)!=0)
		BEGIN
			PRINT N'					reader.NextResult();
				}'
			PRINT N'			'+SUBSTRING(@outputArgu,2,LEN(@outputArgu)-1)+' = (int)dbCmd.Parameters["'+@outputArgu+'"].Value;'
		END
PRINT'			return list;
            }
            catch (Exception e)
            {
                throw new Exception(e.Message);
            }'
END
ELSE
BEGIN
	
	SET @modelType=SUBSTRING(@procname,CHARINDEX('_',@procname)+1,CHARINDEX('_',@procname,6)-1-CHARINDEX('_',@procname))
	PRINT N'		'+@modelType+' obj=null;
			try
            {
               using(IDataReader reader = db.ExecuteReader(dbCmd))
               {
					while (reader.Read())
					{
						obj=new '+@modelType+'();
						//属性赋值
	                    
					}
                }'
		IF(CHARINDEX('selectPage',@procname)!=0)
		PRINT N'			'+SUBSTRING(@outputArgu,2,LEN(@outputArgu)-1)+' = (int)dbCmd.Parameters["'+@outputArgu+'"].Value;'
PRINT'			return obj;
            }
            catch (Exception e)
            {
                throw new Exception(e.Message);
            }'
END
PRINT N'}
	#endregion
'

CLOSE columnCursor
DEALLOCATE columnCursor



GO
/****** Object:  StoredProcedure [dbo].[Tool_CreateModel]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Tool_CreateModel]
	@tableName VARCHAR(50)
AS
--用来在游标中储值
DECLARE @modelName VARCHAR(50),@type VARCHAR(5)
--用来存储类型
DECLARE @fieldType VARCHAR(20)
-----------------------------查询表的所有字段
IF NOT EXISTS(SELECT * FROM sys.tables WHERE name=@tableName)
BEGIN
PRINT 'Not Find This Table'
RETURN
END


--定义游标 for 结果集
DECLARE modelCursor CURSOR FOR
(SELECT name,xtype FROM  syscolumns WHERE id=OBJECT_ID(@tableName))
--打开游标
OPEN modelCursor
--移动游标到下一个
FETCH NEXT FROM modelCursor INTO @modelName,@type
--循环取出游标的值

---打印Model类
	PRINT 'public class '+@tableName
	PRINT '{'
WHILE @@FETCH_STATUS=0
BEGIN
	IF(@type IN ('167','175','231','239'))
	BEGIN
		SET @fieldType='string'
	END
	ELSE IF(@type IN ('56'))
	BEGIN
		SET @fieldType='int'
	END
	ELSE IF(@type IN ('61'))
	BEGIN
		SET @fieldType='DateTime'
	END
	ELSE IF(@type IN ('106'))
	BEGIN
		SET @fieldType='decimal'
	END
	ELSE IF(@type IN ('104'))
	BEGIN
		SET @fieldType='bool'
	END
	ELSE
	BEGIN
		SET @fieldType='undifind'
	END
	--打印属性
	PRINT ''
	PRINT '#region '+@modelName
	PRINT 'private '+@fieldType+' _'+@modelName+';'
    PRINT 'public '+@fieldType+' '+@modelName
    PRINT '{'
    PRINT ' get {'
    PRINT '     return this._'+@modelName+';'
    PRINT ' }'
    PRINT ' set {'
    PRINT '     this._'+@modelName+' = value;'
    PRINT ' }'
    PRINT '}'
	PRINT '#endregion'
	--移动游标
	FETCH NEXT FROM modelCursor INTO @modelName,@type
END
PRINT '}'
---关闭游标
CLOSE modelCursor
---释放游标
DEALLOCATE modelCursor



GO
/****** Object:  StoredProcedure [dbo].[Tool_CreateProc]    Script Date: 2017/8/15 18:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Tool_CreateProc]
	@tableName VARCHAR(50),
	@createUser NVARCHAR(50)=''
AS
DECLARE @name VARCHAR(20),@userType VARCHAR(5),@isIdentity BIT,@maxLength INT

IF NOT EXISTS(SELECT * FROM sys.tables WHERE name=@tableName)
BEGIN
PRINT 'Not Find This Table'
RETURN
END


DECLARE columnsCursor SCROLL CURSOR FOR
--查询表有哪些列
SELECT name,user_type_id,is_identity,max_length FROM sys.columns WHERE object_id=OBJECT_ID(@tableName)

--打开游标
OPEN columnsCursor
--移动游标
FETCH NEXT FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength

----------------------------插入----------------------------------
PRINT N'
GO'
	PRINT N'if exists (select * from sysobjects where name=''Proc_'+@tableName+'_Insert'')
	begin
	print ''has exists this name Proc,please ensure''
	return
	end
GO
/*****插入*****
*****CreateUser:'+@createUser+'*****'+'
*****CreateTime:'+CAST(GETDATE()AS VARCHAR(30))+'*****/
create proc Proc_'+@tableName+'_Insert'
DECLARE @columnType NVARCHAR(30),@argus VARCHAR(100),@outPutArgument VARCHAR(30)

WHILE @@FETCH_STATUS=0
BEGIN
		--调用函数，得到数据类型
		SET @columnType=dbo.f_GetCSharpDataTypeBySqlUserType(@userType,@maxLength)
		IF(@isIdentity=1)
		BEGIN
		SET @argus= '@'+@name+' '+@columnType+' output'
		SET @outPutArgument=@name
		END
		ELSE
		SET @argus= '@'+@name+' '+@columnType
--移动游标,判断是否还有下一条
FETCH NEXT FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
	IF(@@FETCH_STATUS=0)
	BEGIN
	PRINT @argus+','
	END
	ELSE
	BEGIN
	PRINT @argus
	END
END

-------------------------
PRINT 'AS'
PRINT 'insert into ['+@tableName+']('


--移动游标,判断是否还有下一条
FETCH FIRST FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength

WHILE @@FETCH_STATUS=0
BEGIN
	--调用函数，得到数据类型
	SET @columnType=dbo.f_GetCSharpDataTypeBySqlUserType(@userType,@maxLength)
	IF(@isIdentity=1)
	BEGIN
		--移动游标,判断是否还有下一条
		FETCH RELATIVE 1 FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
		CONTINUE
	END
	ELSE
	BEGIN
		SET @argus=@name
	END
--移动游标,判断是否还有下一条
	FETCH RELATIVE 1 FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
	IF(@@FETCH_STATUS=0)
	BEGIN
	PRINT @argus+','
	END
	ELSE
	BEGIN
	PRINT @argus
	END
	
END



PRINT ')
values('

--移动游标到第一条
FETCH FIRST FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength

WHILE @@FETCH_STATUS=0
BEGIN
	IF(@isIdentity=1)
	BEGIN
		--移动游标,判断是否还有下一条
		FETCH RELATIVE 1 FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
		CONTINUE
	END
	ELSE
	BEGIN
		SET @argus='@'+@name
	END
--移动游标,判断是否还有下一条
	FETCH RELATIVE 1 FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
	IF(@@FETCH_STATUS=0)
	BEGIN
	PRINT @argus+','
	END
	ELSE
	BEGIN
	PRINT @argus
	END
END
PRINT ')'
PRINT 'SET @'+@outPutArgument+'=@@IDENTITY'

-----------------------删除------------------------------
PRINT N'


GO'
	PRINT N'if exists (select * from sysobjects where name=''Proc_'+@tableName+'_DeleteBy'+@outPutArgument+''')
	begin
	print ''has exists this name Proc,please ensure''
	return
	end
GO
/*****删除*****
*****CreateUser:'+@createUser+'*****'+'
*****CreateTime:'+CAST(GETDATE()AS VARCHAR(30))+'*****/
create proc Proc_'+@tableName+'_DeleteBy'+@outPutArgument
PRINT '@'+@outPutArgument+' int
AS
'
PRINT 'delete from ['+@tableName+'] where '+@outPutArgument+'='+'@'+@outPutArgument

-----------------------修改------------------------------
PRINT N'


GO'
PRINT N'if exists (select * from sysobjects where name=''Proc_'+@tableName+'_UpdateBy'+@outPutArgument+''')
	begin
	print ''has exists this name Proc,please ensure''
	return
	end
GO
/*****修改*****
*****CreateUser:'+@createUser+'*****'+'
*****CreateTime:'+CAST(GETDATE()AS VARCHAR(30))+'*****/
create proc Proc_'+@tableName+'_UpdateBy'+@outPutArgument

--移动游标到第一条
FETCH FIRST FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength

WHILE @@FETCH_STATUS=0
BEGIN
		--调用函数，得到数据类型
		SET @columnType=dbo.f_GetCSharpDataTypeBySqlUserType(@userType,@maxLength)
		--IF(@isIdentity=1)
		--BEGIN
		----SET @argus=''
		--SET @outPutArgument=@name
		----移动游标,判断是否还有下一条
		--FETCH RELATIVE 1 FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
		--CONTINUE
		--END
		--ELSE
		SET @argus= '@'+@name+' '+@columnType
--移动游标,判断是否还有下一条
FETCH RELATIVE 1 FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
	IF(@@FETCH_STATUS=0)
	BEGIN
	PRINT @argus+','
	END
	ELSE
	BEGIN
	PRINT @argus
	END
END
PRINT 'AS'
PRINT 'update ['+@tableName+'] SET '

--移动游标到第一条
FETCH FIRST FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
DECLARE @VALUES VARCHAR(50)
WHILE @@FETCH_STATUS=0
BEGIN
		IF(@isIdentity=1)
		BEGIN
		--移动游标,判断是否还有下一条
		FETCH RELATIVE 1 FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
		CONTINUE
		END
		ELSE
		SET @VALUES= @name+'='+'@'+@name
--移动游标,判断是否还有下一条
FETCH RELATIVE 1 FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
	IF(@@FETCH_STATUS=0)
	BEGIN
	PRINT @VALUES+','
	END
	ELSE
	BEGIN
	PRINT @VALUES
	END
END
PRINT ' where '+@outPutArgument+'='+'@'+@outPutArgument



-----------------------查询------------------------------
PRINT N'


GO'
	PRINT N'if exists (select * from sysobjects where name=''Proc_'+@tableName+'_SelectBy'+@outPutArgument+''')
	begin
	print ''has exists this name Proc,please ensure''
	return
	end
GO
/*****查询*****
*****CreateUser:'+@createUser+'*****'+'
*****CreateTime:'+CAST(GETDATE()AS VARCHAR(30))+'*****/
create proc Proc_'+@tableName+'_SelectBy'+@outPutArgument
PRINT '@'+@outPutArgument+' int'
PRINT 'AS
select * FROM ['+@tableName+'] WHERE '+@outPutArgument+'='+'@'+@outPutArgument

-----------------------分页查询------------------------------
PRINT N'


GO'
PRINT N'if exists (select * from sysobjects where name=''Proc_'+@tableName+'_SelectPage'+''')
	begin
	print ''has exists this name Proc,please ensure''
	return
	end
GO
/*****查询*****
*****CreateUser:'+@createUser+'*****'+'
*****CreateTime:'+CAST(GETDATE()AS VARCHAR(30))+'*****/
create proc Proc_'+@tableName+'_SelectPage'
PRINT '@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
'
PRINT 'exec Proc_SelectPageBase @rowCount output,@cloumns,'''+@outPutArgument+''','''+@tableName+''',@pageIndex,@pageSize,@orderBy,@where'




--关闭游标
CLOSE columnsCursor
--释放游标
DEALLOCATE columnsCursor


--EXEC Tool_CreateProc 'User'



GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'模块对应的模块组 gid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemModual', @level2type=N'COLUMN',@level2name=N'm_g_gid'
GO
USE [master]
GO
