
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>详情页</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="~/Content/Detial.css" rel="stylesheet" />
    <link href="~/Content/List.css" rel="stylesheet" />
    <link href="~/Content/Common.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>

</head>
<body>
    <!--内容 start-->
    <div class="content">
        <div class="content_left">
            <!--头部广告位 start-->
            <div class="detial_ad_block">

            </div>
            <!--头部广告位 end-->
            <!--面包屑导航 start-->
            <div class="detial_nav">
                <a href="#" title="">首页</a>><a href="#" title="">首页</a>><a href="#" title="">当前</a>
            </div>
            <!--面包屑导航 end-->

            <div class="content_block">
                <div class="content_title">的解放后开始发挥科技水电费</div>
                <div class="content_auth">
                    <span>作者：张三</span>
                    <span>时间：2017-07-28</span>
                    <span></span>
                </div>
                <div>
                    <p>电话费寄快递风华绝代开发可是对方克鲁塞德荆防颗粒历史课地方收快递荆防颗粒觉得放江东父老卡束带结发克拉斯对甲方了</p>
                    <p>电话费寄快递风华绝代开发可是对方克鲁塞德荆防颗粒历史课地方收快递荆防颗粒觉得放江东父老卡束带结发克拉斯对甲方了</p>
                    <p>电话费寄快递风华绝代开发可是对方克鲁塞德荆防颗粒历史课地方收快递荆防颗粒觉得放江东父老卡束带结发克拉斯对甲方了</p>
                    <p>电话费寄快递风华绝代开发可是对方克鲁塞德荆防颗粒历史课地方收快递荆防颗粒觉得放江东父老卡束带结发克拉斯对甲方了</p>
                    <p>电话费寄快递风华绝代开发可是对方克鲁塞德荆防颗粒历史课地方收快递荆防颗粒觉得放江东父老卡束带结发克拉斯对甲方了</p>
                    <p>电话费寄快递风华绝代开发可是对方克鲁塞德荆防颗粒历史课地方收快递荆防颗粒觉得放江东父老卡束带结发克拉斯对甲方了</p>
                    <p>电话费寄快递风华绝代开发可是对方克鲁塞德荆防颗粒历史课地方收快递荆防颗粒觉得放江东父老卡束带结发克拉斯对甲方了</p>
                    <p>电话费寄快递风华绝代开发可是对方克鲁塞德荆防颗粒历史课地方收快递荆防颗粒觉得放江东父老卡束带结发克拉斯对甲方了</p>
                    <p>电话费寄快递风华绝代开发可是对方克鲁塞德荆防颗粒历史课地方收快递荆防颗粒觉得放江东父老卡束带结发克拉斯对甲方了</p>
                    <p>电话费寄快递风华绝代开发可是对方克鲁塞德荆防颗粒历史课地方收快递荆防颗粒觉得放江东父老卡束带结发克拉斯对甲方了</p>
                    <p>电话费寄快递风华绝代开发可是对方克鲁塞德荆防颗粒历史课地方收快递荆防颗粒觉得放江东父老卡束带结发克拉斯对甲方了</p>
                    <p>电话费寄快递风华绝代开发可是对方克鲁塞德荆防颗粒历史课地方收快递荆防颗粒觉得放江东父老卡束带结发克拉斯对甲方了</p>
                    <p>电话费寄快递风华绝代开发可是对方克鲁塞德荆防颗粒历史课地方收快递荆防颗粒觉得放江东父老卡束带结发克拉斯对甲方了</p>
                    <p>电话费寄快递风华绝代开发可是对方克鲁塞德荆防颗粒历史课地方收快递荆防颗粒觉得放江东父老卡束带结发克拉斯对甲方了</p>
                </div>
            </div>
            <div class="content_page">
                <a href="#">首页</a>
                <a href="#">上一页</a>
                <a href="#">1</a>
                <a href="#" class="cur">2</a>
                <a href="#">3</a>
                <a href="#">下一页</a>
                <a href="#">尾页</a>
            </div>

            <div class="content_commont">
                <!--高速版-->
                <div id="SOHUCS" sid="4d5g4d7d5g47d5d7s5d774de757d5e45"></div>
                <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js"></script>
                <script type="text/javascript">
                    window.changyan.api.config({
                        appid: 'cyt8rTfDN',
                        conf: 'prod_6affc491e37a8fba4859bf2ae926475a'
                    });
                </script>
            </div>
        </div>

        <div class="content_right">
            <!--广告位-->
            <div class="ad_top_block">

            </div>
            <!--周阅读排行榜-->
            <div class="content_whot">
                <div class="whot_block">
                    <span>周阅读排行榜</span>
                </div>
                <span class="whot_item">
                    <span class="whot hotsort">1</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>

                <span class="whot_item">
                    <span class="whot hotsort">2</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>

                <span class="whot_item">
                    <span class="whot hotsort">3</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>

                <span class="whot_item">
                    <span class="whot secondhotsort">4</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>

                <span class="whot_item">
                    <span class="whot secondhotsort">5</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>

                <span class="whot_item">
                    <span class="whot secondhotsort">6</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>
                <span class="whot_item">
                    <span class="whot ">7</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>
                <span class="whot_item">
                    <span class="whot ">8</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>
                <span class="whot_item">
                    <span class="whot ">9</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>
                <span class="whot_item">
                    <span class="whot ">10</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>

            </div>
            <!--广告位-->
            <div class="ad_block">

            </div>
            <!--热门推荐-->
            <div class="content_tj">
                <div class="whot_block">
                    <span>热门推荐</span>
                </div>
                <ol>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                </ol>
            </div>
            <!--热辣美女-->
            <div class="right_bottom">
                <div class="whot_block">
                    <span>热辣美女</span>
                </div>
                <a href="#" title="">
                    <div class="right_bottom_block">
                        <img src="~/Content/image/5.jpg" />
                        <div class="block_title">热辣美女饥渴</div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="right_bottom_block ml10">
                        <img src="~/Content/image/6.jpg" />
                        <div class="block_title">大分工的水电费大分工的水电费</div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="right_bottom_block ">
                        <img src="~/Content/image/7.jpg" />
                        <div class="block_title">大分工的水电费大分工的水电费</div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="right_bottom_block  ml10">
                        <img src="~/Content/image/8.jpg" />
                        <div class="block_title">大分工的水电费大分工的水电费</div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <!--内容 end-->
    <div class="clear"></div>
    <!--尾部 start-->
    <div class="foot">
        <div>
            <p>
                <a href="#">关于公司</a>
                <span>|</span>
                <a href="#">联系我们</a>
                <span>|</span>
                <a href="#">欢迎投稿</a>
                <span>|</span>
                <a href="#">商务联系</a>
                <span>|</span>
                <a href="#">加入我们</a>
                <span>|</span>
                <a href="#">公司地址</a>
            </p>
            <p>@@CopyRight 2017-2018 寰宇公司版权所有 </p>
        </div>
    </div>

    <!--尾部 end-->
</body>
</html>
