@{
    ViewBag.Title = "宇扬网_首页";
    ViewBag.keywords = "宇扬网，有你想要的";
    ViewBag.description = "宇扬网，综合门户网站，自由发布平台，有你想要的，看你想看的";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="content_left">
        <!--轮播 start-->
        <div class="img_lb" id="scroll_lb">
                <div>
                    <a href="/detail/99853f87.html" target="_blank" title="贾跃亭把一切给了公司">
                        <img src="http://img.jsonyang.com/2017/08/14/b1f03e2c-ea31-41_700x10000x1.jpg" />
                        <div class="img_title">
                            <span>贾跃亭把一切给了公司</span>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/detail/e65ee665.html" target="_blank" title="川西长途试力帆X80">
                        <img src="http://img.jsonyang.com/2017/08/14/43785560-91c4-44_700x10000x1.jpg" />
                        <div class="img_title">
                            <span>川西长途试力帆X80</span>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/detail/5663a04c.html" target="_blank" title="英国女王计划95岁退休">
                        <img src="http://img.jsonyang.com/2017/08/14/e1f5424b-b2b2-44_700x10000x1.jpg" />
                        <div class="img_title">
                            <span>英国女王计划95岁退休</span>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/detail/5247938e.html" target="_blank" title="富豪殴打区委书记真相">
                        <img src="http://img.jsonyang.com/2017/08/18/66f118cf-ba99-43_700x10000x1.jpg" />
                        <div class="img_title">
                            <span>富豪殴打区委书记真相</span>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/detail/5f7771b0.html" target="_blank" title="习近平带领我们走过的这不平凡五年">
                        <img src="http://img.jsonyang.com/2017/08/14/5ee9ead9-26bb-4a_700x10000x1.jpg" />
                        <div class="img_title">
                            <span>习近平带领我们走过的这不平凡五年</span>
                        </div>
                    </a>
                </div>
        </div>
        <script>
                $(function () {
                    var length = $("#scroll_lb").children().length;
                    var max = 700 * (length - 1);
                    scrollerImage(max);
                });

                function scrollerImage(max) {
                    setTimeout(function () {
                        var left = 0;
                        var leftPx = $("#scroll_lb").css("left");
                        left = parseInt(leftPx.replace("px", ""));
                        if (left == -max) {
                            left = 0;
                        } else {
                            left = left - 700;
                        }
                        $("#scroll_lb").animate({ left: left + "px" }, 1000, function () {
                            scrollerImage(max);
                        });
                    }, 2500);
                }


        </script>
        <!--轮播 end-->
        <!--分类块1-->
        <div class="content_cate">
            <div class="cate_block">
                <span>要闻</span>
                <a href="/list/1.html" target="_blank" class="more">更多>></a>
            </div>
                    <!--图-->
                    <div class="content_cate_hot">
                        <img src="http://img.jsonyang.com/2017/08/14/43785560-91c4-44_700x10000x1.jpg" />
                        <div>
                            <a href="/detail/e65ee665.html" target="_blank" title="川西长途试力帆X80"><span>川西长途试力帆X80</span></a>
                        </div>
                    </div>

            <!--文-->
            <div class="content_cate_hot_list">
                <ul>
                            <li><a href="/detail/99853f87.html" target="_blank" title="贾跃亭把一切给了公司">贾跃亭把一切给了公司</a></li>
                            <li><a href="/detail/5663a04c.html" target="_blank" title="英国女王计划95岁退休">英国女王计划95岁退休</a></li>
                            <li><a href="/detail/5247938e.html" target="_blank" title="富豪殴打区委书记真相">富豪殴打区委书记真相</a></li>
                            <li><a href="/detail/5f7771b0.html" target="_blank" title="习近平带领我们走过的这不平凡五年">习近平带领我们走过的这不平凡五年</a></li>
                            <li><a href="/detail/b94c2872.html" target="_blank" title="惹火销魂女神巨胸">惹火销魂女神巨胸</a></li>

                </ul>
            </div>
        </div>
        <div class="content_cate l3">
            <div class="cate_block">
                <span>趣事</span>
                <a href="/list/6.html" class="more">更多>></a>
            </div>
                    <!--图-->
                    <div class="content_cate_hot">
                        <img src="http://img.jsonyang.com/2017/08/14/43785560-91c4-44_700x10000x1.jpg" />
                        <div>
                            <a href="/detail/e65ee665.html" target="_blank" title="川西长途试力帆X80"><span>川西长途试力帆X80</span></a>
                        </div>
                    </div>

            <!--文-->
            <div class="content_cate_hot_list">
                <ul>
                            <li><a href="/detail/99853f87.html" target="_blank" title="贾跃亭把一切给了公司">贾跃亭把一切给了公司</a></li>
                            <li><a href="/detail/5663a04c.html" target="_blank" title="英国女王计划95岁退休">英国女王计划95岁退休</a></li>
                            <li><a href="/detail/5247938e.html" target="_blank" title="富豪殴打区委书记真相">富豪殴打区委书记真相</a></li>
                            <li><a href="/detail/5f7771b0.html" target="_blank" title="习近平带领我们走过的这不平凡五年">习近平带领我们走过的这不平凡五年</a></li>
                            <li><a href="/detail/b94c2872.html" target="_blank" title="惹火销魂女神巨胸">惹火销魂女神巨胸</a></li>

                </ul>
            </div>
        </div>
        <div class="content_cate l3">
            <div class="cate_block">
                <span>美女</span>
                <a href="/list/7.html" class="more">更多>></a>
            </div>
                    <!--图-->
                    <div class="content_cate_hot">
                        <img src="http://img.jsonyang.com/2017/08/14/43785560-91c4-44_700x10000x1.jpg" />
                        <div>
                            <a href="/detail/e65ee665.html" target="_blank" title="川西长途试力帆X80"><span>川西长途试力帆X80</span></a>
                        </div>
                    </div>

            <!--文-->
            <div class="content_cate_hot_list">
                <ul>
                            <li><a href="/detail/99853f87.html" target="_blank" title="贾跃亭把一切给了公司">贾跃亭把一切给了公司</a></li>
                            <li><a href="/detail/5663a04c.html" target="_blank" title="英国女王计划95岁退休">英国女王计划95岁退休</a></li>
                            <li><a href="/detail/5247938e.html" target="_blank" title="富豪殴打区委书记真相">富豪殴打区委书记真相</a></li>
                            <li><a href="/detail/5f7771b0.html" target="_blank" title="习近平带领我们走过的这不平凡五年">习近平带领我们走过的这不平凡五年</a></li>
                            <li><a href="/detail/b94c2872.html" target="_blank" title="惹火销魂女神巨胸">惹火销魂女神巨胸</a></li>

                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <!--分类块2-->
        <div class="content_cate">
            <div class="cate_block">
                <span>生活</span>
                <a href="/list/8.html" target="_blank" class="more">更多>></a>
            </div>
                    <!--图-->
                    <div class="content_cate_hot">
                        <img src="http://img.jsonyang.com/2017/08/14/43785560-91c4-44_700x10000x1.jpg" />
                        <div>
                            <a href="/detail/e65ee665.html" target="_blank" title="川西长途试力帆X80"><span>川西长途试力帆X80</span></a>
                        </div>
                    </div>

            <!--文-->
            <div class="content_cate_hot_list">
                <ul>
                            <li><a href="/detail/99853f87.html" target="_blank" title="贾跃亭把一切给了公司">贾跃亭把一切给了公司</a></li>
                            <li><a href="/detail/5663a04c.html" target="_blank" title="英国女王计划95岁退休">英国女王计划95岁退休</a></li>
                            <li><a href="/detail/5247938e.html" target="_blank" title="富豪殴打区委书记真相">富豪殴打区委书记真相</a></li>
                            <li><a href="/detail/5f7771b0.html" target="_blank" title="习近平带领我们走过的这不平凡五年">习近平带领我们走过的这不平凡五年</a></li>
                            <li><a href="/detail/b94c2872.html" target="_blank" title="惹火销魂女神巨胸">惹火销魂女神巨胸</a></li>

                </ul>
            </div>
        </div>
        <div class="content_cate l3">
            <div class="cate_block">
                <span>搞笑</span>
                <a href="/list/9.html" class="more">更多>></a>
            </div>
                    <!--图-->
                    <div class="content_cate_hot">
                        <img src="http://img.jsonyang.com/2017/08/14/43785560-91c4-44_700x10000x1.jpg" />
                        <div>
                            <a href="/detail/e65ee665.html" target="_blank" title="川西长途试力帆X80"><span>川西长途试力帆X80</span></a>
                        </div>
                    </div>

            <!--文-->
            <div class="content_cate_hot_list">
                <ul>
                            <li><a href="/detail/99853f87.html" target="_blank" title="贾跃亭把一切给了公司">贾跃亭把一切给了公司</a></li>
                            <li><a href="/detail/5663a04c.html" target="_blank" title="英国女王计划95岁退休">英国女王计划95岁退休</a></li>
                            <li><a href="/detail/5247938e.html" target="_blank" title="富豪殴打区委书记真相">富豪殴打区委书记真相</a></li>
                            <li><a href="/detail/5f7771b0.html" target="_blank" title="习近平带领我们走过的这不平凡五年">习近平带领我们走过的这不平凡五年</a></li>
                            <li><a href="/detail/b94c2872.html" target="_blank" title="惹火销魂女神巨胸">惹火销魂女神巨胸</a></li>

                </ul>
            </div>
        </div>
        <div class="content_cate l3">
            <div class="cate_block">
                <span>斗图</span>
                <a href="/list/10.html" class="more">更多>></a>
            </div>
                    <!--图-->
                    <div class="content_cate_hot">
                        <img src="http://img.jsonyang.com/2017/08/14/43785560-91c4-44_700x10000x1.jpg" />
                        <div>
                            <a href="/detail/e65ee665.html" target="_blank" title="川西长途试力帆X80"><span>川西长途试力帆X80</span></a>
                        </div>
                    </div>

            <!--文-->
            <div class="content_cate_hot_list">
                <ul>
                            <li><a href="/detail/99853f87.html" target="_blank" title="贾跃亭把一切给了公司">贾跃亭把一切给了公司</a></li>
                            <li><a href="/detail/5663a04c.html" target="_blank" title="英国女王计划95岁退休">英国女王计划95岁退休</a></li>
                            <li><a href="/detail/5247938e.html" target="_blank" title="富豪殴打区委书记真相">富豪殴打区委书记真相</a></li>
                            <li><a href="/detail/5f7771b0.html" target="_blank" title="习近平带领我们走过的这不平凡五年">习近平带领我们走过的这不平凡五年</a></li>
                            <li><a href="/detail/b94c2872.html" target="_blank" title="惹火销魂女神巨胸">惹火销魂女神巨胸</a></li>

                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="content_right">
        <!--右侧热点-->
        <div class="content_list_hot">
            <ul>
                    <li><a href="/detail/e65ee665.html" target="_blank" title="川西长途试力帆X80">川西长途试力帆X8</a></li>
                    <li><a href="/detail/99853f87.html" target="_blank" title="贾跃亭把一切给了公司">贾跃亭把一切给了公</a></li>
                    <li><a href="/detail/5663a04c.html" target="_blank" title="英国女王计划95岁退休">英国女王计划95岁</a></li>
                    <li><a href="/detail/5247938e.html" target="_blank" title="富豪殴打区委书记真相">富豪殴打区委书记真</a></li>
                    <li><a href="/detail/5f7771b0.html" target="_blank" title="习近平带领我们走过的这不平凡五年">习近平带领我们走过</a></li>
                    <li><a href="/detail/b94c2872.html" target="_blank" title="惹火销魂女神巨胸">惹火销魂女神巨胸</a></li>
                    <li><a href="/detail/51aa82c9.html" target="_blank" title="娇艳大奶美女">娇艳大奶美女</a></li>
                    <li><a href="/detail/073c85ef.html" target="_blank" title="比基尼热辣美女洗车">比基尼热辣美女洗车</a></li>
            </ul>
        </div>
        <!--右侧图文-->
        <div class="content_block">
                <a href="/detail/51aa82c9.html" target="_blank" title="娇艳大奶美女">
                    <div class="content_img_hot">
                        <img src="http://img.jsonyang.com/2017/08/24/d3f324d6-90f0-43_700x10000x1.jpg" />
                        <div>
                            <span>娇艳大奶美女</span>
                            <p>火辣娇艳大奶美女丰乳翘臀惹火娇媚销魂性感写真</p>
                        </div>
                    </div>
                </a>
                <a href="/detail/073c85ef.html" target="_blank" title="比基尼热辣美女洗车">
                    <div class="content_img_hot">
                        <img src="http://img.jsonyang.com/2017/08/24/2233a4c0-d549-42_700x10000x1.jpg" />
                        <div>
                            <span>比基尼热辣美女洗车</span>
                            <p>比基尼热辣美女洗车 引市民围观</p>
                        </div>
                    </div>
                </a>
                <a href="/detail/b94c2872.html" target="_blank" title="惹火销魂女神巨胸">
                    <div class="content_img_hot">
                        <img src="http://img.jsonyang.com/2017/08/24/6b4912a1-85e5-4f_700x10000x1.jpg" />
                        <div>
                            <span>惹火销魂女神巨胸</span>
                            <p>惹火销魂女神巨胸 让人瞬间窒息大奶销魂火辣诱惑写真</p>
                        </div>
                    </div>
                </a>
        </div>
        <div class="clear"></div>
        <!--热门阅读排行-->
        <div class="content_hot">

        </div>

        <!--热门阅读排行-->
        <div class="content_hot">

        </div>
    </div>
