@{
    ViewBag.Title = "宇扬网_首页";
    ViewBag.keywords = "宇扬";
    ViewBag.description = "View";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="content_left">
        <!--轮播 start-->
        <div class="img_lb" id="scroll_lb">
                <div>
                    <a href="#" title="贾跃亭把一切给了公司">
                        <img src="http://img.jsonyang.com/2017/08/14/b1f03e2c-ea31-41_700x10000x1.jpg" />
                        <div class="img_title">
                            <span>贾跃亭把一切给了公司</span>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#" title="川西长途试力帆X80">
                        <img src="http://img.jsonyang.com/2017/08/14/43785560-91c4-44_700x10000x1.jpg" />
                        <div class="img_title">
                            <span>川西长途试力帆X80</span>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#" title="英国女王计划95岁退休">
                        <img src="http://img.jsonyang.com/2017/08/14/e1f5424b-b2b2-44_700x10000x1.jpg" />
                        <div class="img_title">
                            <span>英国女王计划95岁退休</span>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#" title="富豪殴打区委书记真相">
                        <img src="http://img.jsonyang.com/2017/08/18/66f118cf-ba99-43_700x10000x1.jpg" />
                        <div class="img_title">
                            <span>富豪殴打区委书记真相</span>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#" title="习近平带领我们走过的这不平凡五年">
                        <img src="http://img.jsonyang.com/2017/08/14/5ee9ead9-26bb-4a_700x10000x1.jpg" />
                        <div class="img_title">
                            <span>习近平带领我们走过的这不平凡五年</span>
                        </div>
                    </a>
                </div>
            
        </div>
        <script>
                $(function () {
                    var length = $("#scroll_lb").children().length;
                    var max = 700 * (length - 1);
                    scrollerImage(max);
                });

                function scrollerImage(max) {
                    setTimeout(function () {
                        var left = 0;
                        var leftPx = $("#scroll_lb").css("left");
                        left = parseInt(leftPx.replace("px", ""));
                        if (left == -max) {
                            left = 0;
                        } else {
                            left = left - 700;
                        }
                        $("#scroll_lb").animate({ left: left + "px" }, 1000, function () {
                            scrollerImage(max);
                        });
                    }, 2500);
                }


        </script>
        <!--轮播 end-->
        <!--分类块1-->
        <div class="content_cate">
            <div class="cate_block">
                <span>新闻</span>
                <a href="#" class="more">更多>></a>
            </div>
            <!--图-->
            <div class="content_cate_hot">
                <img src="/Content/image/3.jpg" />
                <div>
                    <a href="#" title=""><span>美国引进垃圾大法师打发地方</span></a>
                </div>
            </div>
            <!--文-->
            <div class="content_cate_hot_list">
                <ul>
                    <li><a href="#">新西兰历险记新西记的风格风</a></li>
                    <li><a href="#">澳洲羊驼</a></li>
                    <li><a href="#">大龙虾能不能吃</a></li>
                    <li><a href="#">集散地发货计划</a></li>
                    <li><a href="#">新西兰历险记新西记</a></li>
                    <li><a href="#">大龙虾能不能吃</a></li>
                    <li><a href="#">集散地发货计划</a></li>
                    <li><a href="#">新西兰历险记水电费</a></li>
                    <li><a href="#">新西兰历险记新西记</a></li>
                </ul>
            </div>
        </div>
        <div class="content_cate l3">
            <div class="cate_block">
                <span>趣事</span>
                <a href="#" class="more">更多>></a>
            </div>
            <!--图-->
            <div class="content_cate_hot">
                <img src="/Content/image/3.jpg" />
                <div>
                    <a href="#" title=""><span>美国引进垃圾大法师打发地方</span></a>
                </div>
            </div>
            <!--文-->
            <div class="content_cate_hot_list">
                <ul>
                    <li><a href="#">新西兰历险记新西记的风格风</a></li>
                    <li><a href="#">澳洲羊驼</a></li>
                    <li><a href="#">大龙虾能不能吃</a></li>
                    <li><a href="#">集散地发货计划</a></li>
                    <li><a href="#">新西兰历险记新西记</a></li>
                    <li><a href="#">大龙虾能不能吃</a></li>
                    <li><a href="#">集散地发货计划</a></li>
                    <li><a href="#">新西兰历险记水电费</a></li>
                    <li><a href="#">新西兰历险记新西记</a></li>
                </ul>
            </div>
        </div>
        <div class="content_cate l3">
            <div class="cate_block">
                <span>美女</span>
                <a href="#" class="more">更多>></a>
            </div>
            <!--图-->
            <div class="content_cate_hot">
                <img src="/Content/image/3.jpg" />
                <div>
                    <a href="#" title=""><span>美国引进垃圾大法师打发地方</span></a>
                </div>
            </div>
            <!--文-->
            <div class="content_cate_hot_list">
                <ul>
                    <li><a href="#">新西兰历险记新西记的风格风</a></li>
                    <li><a href="#">澳洲羊驼</a></li>
                    <li><a href="#">大龙虾能不能吃</a></li>
                    <li><a href="#">集散地发货计划</a></li>
                    <li><a href="#">新西兰历险记新西记</a></li>
                    <li><a href="#">大龙虾能不能吃</a></li>
                    <li><a href="#">集散地发货计划</a></li>
                    <li><a href="#">新西兰历险记水电费</a></li>
                    <li><a href="#">新西兰历险记新西记</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <!--分类块2-->
        <div class="content_cate">
            <div class="cate_block">
                <span>新闻</span>
                <a href="#" class="more">更多>></a>
            </div>
            <!--图-->
            <div class="content_cate_hot">
                <img src="/Content/image/3.jpg" />
                <div>
                    <a href="#" title=""><span>美国引进垃圾大法师打发地方</span></a>
                </div>
            </div>
            <!--文-->
            <div class="content_cate_hot_list">
                <ul>
                    <li><a href="#">新西兰历险记新西记的风格风</a></li>
                    <li><a href="#">澳洲羊驼</a></li>
                    <li><a href="#">大龙虾能不能吃</a></li>
                    <li><a href="#">集散地发货计划</a></li>
                    <li><a href="#">新西兰历险记新西记</a></li>
                    <li><a href="#">大龙虾能不能吃</a></li>
                    <li><a href="#">集散地发货计划</a></li>
                    <li><a href="#">新西兰历险记水电费</a></li>
                    <li><a href="#">新西兰历险记新西记</a></li>
                </ul>
            </div>
        </div>
        <div class="content_cate l3">
            <div class="cate_block">
                <span>趣事</span>
                <a href="#" class="more">更多>></a>
            </div>
            <!--图-->
            <div class="content_cate_hot">
                <img src="/Content/image/3.jpg" />
                <div>
                    <a href="#" title=""><span>美国引进垃圾大法师打发地方</span></a>
                </div>
            </div>
            <!--文-->
            <div class="content_cate_hot_list">
                <ul>
                    <li><a href="#">新西兰历险记新西记的风格风</a></li>
                    <li><a href="#">澳洲羊驼</a></li>
                    <li><a href="#">大龙虾能不能吃</a></li>
                    <li><a href="#">集散地发货计划</a></li>
                    <li><a href="#">新西兰历险记新西记</a></li>
                    <li><a href="#">大龙虾能不能吃</a></li>
                    <li><a href="#">集散地发货计划</a></li>
                    <li><a href="#">新西兰历险记水电费</a></li>
                    <li><a href="#">新西兰历险记新西记</a></li>
                </ul>
            </div>
        </div>
        <div class="content_cate l3">
            <div class="cate_block">
                <span>美女</span>
                <a href="#" class="more">更多>></a>
            </div>
            <!--图-->
            <div class="content_cate_hot">
                <img src="/Content/image/3.jpg" />
                <div>
                    <a href="#" title=""><span>美国引进垃圾大法师打发地方</span></a>
                </div>
            </div>
            <!--文-->
            <div class="content_cate_hot_list">
                <ul>
                    <li><a href="#">新西兰历险记新西记的风格风</a></li>
                    <li><a href="#">澳洲羊驼</a></li>
                    <li><a href="#">大龙虾能不能吃</a></li>
                    <li><a href="#">集散地发货计划</a></li>
                    <li><a href="#">新西兰历险记新西记</a></li>
                    <li><a href="#">大龙虾能不能吃</a></li>
                    <li><a href="#">集散地发货计划</a></li>
                    <li><a href="#">新西兰历险记水电费</a></li>
                    <li><a href="#">新西兰历险记新西记</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="content_right">
        <!--右侧热点-->
        <div class="content_list_hot">
            <ul>
                <li><a href="#">集散地发货计划</a></li>
                <li><a href="#">集散地发货计划</a></li>
                <li><a href="#">集散地发货计划</a></li>
                <li><a href="#">集散地发货计划</a></li>
                <li><a href="#">集散地发货计划</a></li>
                <li><a href="#">集散地发货计划</a></li>
                <li><a href="#">集散地发货计划</a></li>
                <li><a href="#">集散地发货计划</a></li>
                <li><a href="#">集散地发货计划</a></li>
            </ul>
        </div>
        <!--右侧图文-->
        <div class="content_block">
            <a href="#" title="">
                <div class="content_img_hot">
                    <img src="/Content/image/3.jpg" />
                    <div>
                        <span>美国引进垃圾大法师打发地方</span>
                        <p>案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的</p>
                    </div>
                </div>
            </a>
            <a href="#" title="">
                <div class="content_img_hot">
                    <img src="/Content/image/3.jpg" />
                    <div>
                        <span>美国引进垃圾大法师打发地方</span>
                        <p>案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的</p>
                    </div>
                </div>
            </a>
            <a href="#" title="">
                <div class="content_img_hot">
                    <img src="/Content/image/3.jpg" />
                    <div>
                        <span>美国引进垃圾大法师打发地方</span>
                        <p>案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="clear"></div>
        <!--热门阅读排行-->
        <div class="content_hot">

        </div>

        <!--热门阅读排行-->
        <div class="content_hot">

        </div>
    </div>
