
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>列表页</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="~/Content/List.css" rel="stylesheet" />
    <link href="~/Content/Common.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <!--导航条 start-->
    <div class="head_nav">
        <ul class="head_nav_li">
            <li>首页</li>
            <li>新闻</li>
            <li class="cur">趣事</li>
            <li>美女</li>
            <li>生活</li>
        </ul>
    </div>
    <!--导航条 end-->
    <!--搜索框 start-->
    <div class="head_search">
        <div class="head_search_input">
            <input type="text" name="name" placeholder="请输入关键字搜索" value="" />
        </div>
        <div class="head_search_btn">
            <a href="javascript:void(0);">搜索</a>
        </div>
    </div>
    <!--搜索框 end-->
    <!--内容 start-->
    <div class="content">
        <div class="content_left">
            <div class="content_block">
                <a href="#" title="">
                    <div class="content_img_hot">
                        <img src="~/Content/image/3.jpg" />
                        <div>
                            <span class="list_title">美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方</span>
                            <p>案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的</p>
                            <span class="r_v mr5">1235</span>
                            <span class="r_v view"></span>
                            <span class="r_v mr10">2017-07-27</span>
                        </div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="content_img_hot">
                        <img src="~/Content/image/3.jpg" />
                        <div>
                            <span class="list_title">美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方</span>
                            <p>案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的</p>
                            <span class="r_v mr5">1235</span>
                            <span class="r_v view"></span>
                            <span class="r_v mr10">2017-07-27</span>
                        </div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="content_img_hot">
                        <img src="~/Content/image/3.jpg" />
                        <div>
                            <span class="list_title">美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方</span>
                            <p>案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的</p>
                            <span class="r_v mr5">1235</span>
                            <span class="r_v view"></span>
                            <span class="r_v mr10">2017-07-27</span>
                        </div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="content_img_hot">
                        <img src="~/Content/image/3.jpg" />
                        <div>
                            <span class="list_title">美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方</span>
                            <p>案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的</p>
                            <span class="r_v mr5">1235</span>
                            <span class="r_v view"></span>
                            <span class="r_v mr10">2017-07-27</span>
                        </div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="content_img_hot">
                        <img src="~/Content/image/3.jpg" />
                        <div>
                            <span class="list_title">美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方</span>
                            <p>案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的</p>
                            <span class="r_v mr5">1235</span>
                            <span class="r_v view"></span>
                            <span class="r_v mr10">2017-07-27</span>
                        </div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="content_img_hot">
                        <img src="~/Content/image/3.jpg" />
                        <div>
                            <span class="list_title">美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方</span>
                            <p>案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的</p>
                            <span class="r_v mr5">1235</span>
                            <span class="r_v view"></span>
                            <span class="r_v mr10">2017-07-27</span>
                        </div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="content_img_hot">
                        <img src="~/Content/image/3.jpg" />
                        <div>
                            <span class="list_title">美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方</span>
                            <p>案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的</p>
                            <span class="r_v mr5">1235</span>
                            <span class="r_v view"></span>
                            <span class="r_v mr10">2017-07-27</span>
                        </div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="content_img_hot">
                        <img src="~/Content/image/3.jpg" />
                        <div>
                            <span class="list_title">美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方</span>
                            <p>案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的</p>
                            <span class="r_v mr5">1235</span>
                            <span class="r_v view"></span>
                            <span class="r_v mr10">2017-07-27</span>
                        </div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="content_img_hot">
                        <img src="~/Content/image/3.jpg" />
                        <div>
                            <span class="list_title">美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方</span>
                            <p>案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的</p>
                            <span class="r_v mr5">1235</span>
                            <span class="r_v view"></span>
                            <span class="r_v mr10">2017-07-27</span>
                        </div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="content_img_hot">
                        <img src="~/Content/image/3.jpg" />
                        <div>
                            <span class="list_title">美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方</span>
                            <p>案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的</p>
                            <span class="r_v mr5">1235</span>
                            <span class="r_v view"></span>
                            <span class="r_v mr10">2017-07-27</span>
                        </div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="content_img_hot">
                        <img src="~/Content/image/3.jpg" />
                        <div>
                            <span class="list_title">美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方</span>
                            <p>案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的</p>
                            <span class="r_v mr5">1235</span>
                            <span class="r_v view"></span>
                            <span class="r_v mr10">2017-07-27</span>
                        </div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="content_img_hot">
                        <img src="~/Content/image/3.jpg" />
                        <div>
                            <span class="list_title">美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方</span>
                            <p>案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的</p>
                            <span class="r_v mr5">1235</span>
                            <span class="r_v view"></span>
                            <span class="r_v mr10">2017-07-27</span>
                        </div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="content_img_hot">
                        <img src="~/Content/image/3.jpg" />
                        <div>
                            <span class="list_title">美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方</span>
                            <p>案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的</p>
                            <span class="r_v mr5">1235</span>
                            <span class="r_v view"></span>
                            <span class="r_v mr10">2017-07-27</span>
                        </div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="content_img_hot">
                        <img src="~/Content/image/3.jpg" />
                        <div>
                            <span class="list_title">美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方</span>
                            <p>案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的</p>
                            <span class="r_v mr5">1235</span>
                            <span class="r_v view"></span>
                            <span class="r_v mr10">2017-07-27</span>
                        </div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="content_img_hot">
                        <img src="~/Content/image/3.jpg" />
                        <div>
                            <span class="list_title">美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方美国引进垃圾大法师打发地方</span>
                            <p>案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的案说法是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的是否是否发生的</p>
                            <span class="r_v mr5">1235</span>
                            <span class="r_v view"></span>
                            <span class="r_v mr10">2017-07-27</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="content_page">
                <a href="#">首页</a>
                <a href="#">上一页</a>
                <a href="#">1</a>
                <a href="#" class="cur">2</a>
                <a href="#">3</a>
                <a href="#">下一页</a>
                <a href="#">尾页</a>
            </div>
        </div>

        <div class="content_right">
            <!--广告位-->
            <div class="ad_top_block">

            </div>
            <!--周阅读排行榜-->
            <div class="content_whot">
                <div class="whot_block">
                    <span>周阅读排行榜</span>
                </div>
                <span class="whot_item">
                    <span class="whot hotsort">1</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>

                <span class="whot_item">
                    <span class="whot hotsort">2</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>

                <span class="whot_item">
                    <span class="whot hotsort">3</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>

                <span class="whot_item">
                    <span class="whot secondhotsort">4</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>

                <span class="whot_item">
                    <span class="whot secondhotsort">5</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>

                <span class="whot_item">
                    <span class="whot secondhotsort">6</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>
                <span class="whot_item">
                    <span class="whot ">7</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>
                <span class="whot_item">
                    <span class="whot ">8</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>
                <span class="whot_item">
                    <span class="whot ">9</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>
                <span class="whot_item">
                    <span class="whot ">10</span>
                    <a href="#" title="">dfdfdfdfdf</a>
                    <span class="whot_visit">1256</span>
                </span>

            </div>
            <!--广告位-->
            <div class="ad_block">

            </div>
            <!--热门推荐-->
            <div class="content_tj">
                <div class="whot_block">
                    <span>热门推荐</span>
                </div>
                <ol>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                    <li>
                        <span class="whot_item">
                            <a href="#" title="">dfdfdfdfdf</a>
                            <span class="whot_visit">1256</span>
                        </span>
                    </li>
                </ol>
            </div>
            <!--热辣美女-->
            <div class="right_bottom">
                <div class="whot_block">
                    <span>热辣美女</span>
                </div>
                <a href="#" title="">
                    <div class="right_bottom_block">
                        <img src="~/Content/image/5.jpg" />
                        <div class="block_title">热辣美女饥渴</div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="right_bottom_block ml10">
                        <img src="~/Content/image/6.jpg" />
                        <div class="block_title">大分工的水电费大分工的水电费</div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="right_bottom_block ">
                        <img src="~/Content/image/7.jpg" />
                        <div class="block_title">大分工的水电费大分工的水电费</div>
                    </div>
                </a>
                <a href="#" title="">
                    <div class="right_bottom_block  ml10">
                        <img src="~/Content/image/8.jpg" />
                        <div class="block_title">大分工的水电费大分工的水电费</div>
                    </div>
                </a>
            </div>

        </div>

    </div>
    <!--内容 end-->
    <div class="clear"></div>
    <!--尾部 start-->
    <div class="foot">
        <div>
            <p>
                <a href="#">关于公司</a>
                <span>|</span>
                <a href="#">联系我们</a>
                <span>|</span>
                <a href="#">欢迎投稿</a>
                <span>|</span>
                <a href="#">商务联系</a>
                <span>|</span>
                <a href="#">加入我们</a>
                <span>|</span>
                <a href="#">公司地址</a>
            </p>
            <p>@@CopyRight 2017-2018 寰宇公司版权所有 </p>
        </div>
    </div>

    <!--尾部 end-->

</body>
</html>
