<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.keywords" />
    <meta name="description" content="@ViewBag.description" />

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/SiteIndex.css" rel="stylesheet" />
    <link href="~/Content/Common.css" rel="stylesheet" />
</head>
<body>

    <!--导航条 start-->
    <div class="head_nav">
        <ul class="head_nav_li">
            <li>首页</li>
            <li>新闻</li>
            <li class="cur">趣事</li>
            <li>美女</li>
            <li>生活</li>
        </ul>
    </div>
    <!--导航条 end-->
    <!--搜索框 start-->
    <div class="head_search">
        <div class="head_search_input">
            <input type="text" name="name" placeholder="请输入关键字搜索" value="" />
        </div>
        <div class="head_search_btn">
            <a href="javascript:void(0);">搜索</a>
        </div>
    </div>
    <!--搜索框 end-->
    <!--内容 start-->
    <div class="content">
        @RenderBody()
    </div>
    <!--内容 end-->
    <div class="clear"></div>
    <!--尾部 start-->
    <div class="foot">
        <div>
            <p>
                <a href="#">关于公司</a>
                <span>|</span>
                <a href="#">联系我们</a>
                <span>|</span>
                <a href="#">欢迎投稿</a>
                <span>|</span>
                <a href="#">商务联系</a>
                <span>|</span>
                <a href="#">加入我们</a>
                <span>|</span>
                <a href="#">公司地址</a>
            </p>
            <p>@@CopyRight 2017-2018 寰宇公司版权所有 </p>
        </div>
    </div>
    <!--尾部 end-->
</body>
</html>