<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.keywords" />
    <meta name="description" content="@ViewBag.description" />

    <link href="~/Content/List.css" rel="stylesheet" />
    <link href="~/Content/Common.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>

    <!--导航条 start-->
    @{
        Html.RenderPartial("~/Views/Home/Index_Nav.cshtml");
     }
    <!--导航条 end-->

    <!--搜索框 start-->
    <div class="head_search">
        <div class="head_search_input">
            <input type="text" name="name" placeholder="请输入关键字搜索" value="" />
        </div>
        <div class="head_search_btn">
            <a href="javascript:void(0);">搜索</a>
        </div>
    </div>
    <!--搜索框 end-->

    <!--内容 start-->
    <div class="content">
        @RenderBody()
    </div>
    <!--内容 end-->
    <div class="clear"></div>

    <!--尾部 start-->
    @{
        Html.RenderPartial("~/Views/Common/Index_Foot.cshtml");
    }
    <!--尾部 end-->
</body>
</html>