<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="SiteBinding_ISiteService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8889/SiteService.svc" binding="wsHttpBinding"
                bindingConfiguration="SiteBinding_ISiteService" contract="SiteServices.ISiteService"
                name="SiteBinding_ISiteService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>