<div class="foot">
    <div>
        <p>
            <a href="#">关于公司</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">欢迎投稿</a>
            <span>|</span>
            <a href="#">商务联系</a>
            <span>|</span>
            <a href="#">加入我们</a>
            <span>|</span>
            <a href="#">公司地址</a>
        </p>
        <p>@@@@CopyRight 2017-2018 寰宇公司版权所有 </p>
    </div>
</div>



